# Scraping Data From LinkedIn by Luna Baalbaki

Selecting an appropriate career is one of the most important decisions and with the increase in the number of career paths and opportunities, making this decision have become quite difficult for the students. The purpose of this project is to help Lebanese be aware of the job market trends that are in Lebanon. Since many Lebanese students don‚Äôt know which major to choose and which job position is highly demanded in Lebanon, this project guides them in their career choice. Using the code below I scrapped data about job positions from LinkedIn.

Here, I would like to share one way using web scraping to explore data about jobs in Lebanon on Linkedin.
At the end of this notebook you can run all the codes using just two runs.

# LinkedIn Login

In [12]:
#LinkedIn Login 
url= 'https://www.linkedin.com/jobs/search/?geoId=101834488&location=Lebanon'
browser= webdriver.Chrome(executable_path='/Users/user/Desktop/capstone/chromedriver')
browser.get(url)

In [13]:
sign_in = browser.find_element_by_class_name("nav__button-secondary")
sign_in.click()

In [15]:
username= browser.find_element_by_id("username")
username.send_keys("luna.baalbaki@gmail.com")

In [16]:
password=browser.find_element_by_id("password")
password.send_keys("linkedincapstone")

In [17]:
login_button=browser.find_element_by_class_name("login__form_action_container")
login_button.click()

In [18]:
# remember_button=browser.find_element_by_class_name("btn__primary--large")
# remember_button.click()

# Job Scrapping from LinkedIn without loging in to LinkedIn

In [7]:
#Import Libraries
from selenium import webdriver
import time
import pandas as pd

In [8]:
#Copy paste the url that you need to scrape. Here I am scrapping all jobs that are in Lebanon on LinkedIn.
url='https://www.linkedin.com/jobs/search?keywords=&location=Lebanon&geoId=101834488&trk=public_jobs_jobs-search-bar_search-submit&position=1&pageNum=0'

In [9]:
#Download a webdriver in order to scrape the data from the link provided above
browser= webdriver.Chrome(executable_path='/Users/user/Desktop/capstone/chromedriver')
browser.get(url)

After running the above codes, you are going to be directed to a LinkedIn page (the url that u provided above). On that page, scroll down and keep on clicking on "more jobs" to reach the last job position. In order to scrape all the jobs that are on the page. Then run the below codes.

In [11]:
job_lists=browser.find_element_by_class_name('jobs-search__results-list')

In [12]:
jobs=job_lists.find_elements_by_tag_name('list')

In [13]:
job_lists = browser.find_element_by_class_name('jobs-search__results-list')
jobs = job_lists.find_elements_by_tag_name('li') # return a list
len(jobs)

791

In [14]:
#Scrapping the Title
job_title = []
for job in jobs:
    job_title0 = job.find_element_by_css_selector('h3').get_attribute('innerText')
    job_title.append(job_title0)
print(job_title)
print(len(job_title))

['Managing Director', 'Customer Service Agent', 'Production Supervisor', 'Warehouse Controller', 'Dashboard Supervisor', 'Africa Based - Commercial Manager', 'Sales Executive', 'English-Arabic Translator', 'Sales Associate', 'Call Center Representative', 'Arabic Writer - Content on Arab Youtubers', 'Content Strategist', 'Marketing Executive', 'Information Technology Support Specialist', 'Community Manager', 'Marketing Manager', 'Social Media Executive', 'Operations Executive - E-commerce', 'Director General', 'Medical Sales Representative', 'Customer Service Staff', 'Teacher', 'Sales Consultant', 'Coffee Packaging Plant Manager', 'Economic Affairs Officer', 'Virtual Assistant', 'Front Desk Receptionist', 'Support Manager', 'CRM Officer', 'Senior Quality Assurance Specialist', 'Supply and Logistics Assistant', 'Operations Manager', 'Communications Assistant Intern (paid)', 'Restaurant and area operation Manager', 'Onboarding Programs Coordinator', 'Compliance Analyst', 'Chief Operating Officer', 'Customer Service Agent', 'Senior Analyst - Consulting', 'Growth Associates- Internship', 'Team Lead', 'Senior Insurance Advisor', 'Assistant Manager', 'Digital Marketing Specialist', 'Human Resources Generalist', 'Advertising Operations Associate', 'External Relations Associate - 28928', 'Junior Investment Analyst', 'English Copywriter', 'Operations Executive - E-commerce', 'Senior Sales Representative', 'Junior Support Officer', 'Food and Beverage Specialist', 'Communication Specialist', 'Junior Marketing Specialist Trainee (Remote Position)', 'Sales Manager', 'Field Service Technician', 'Front Desk Officer', 'Senior Associate', 'Business Development and Customer Relations Officer', 'Intern', 'Social Media Marketing Specialist', 'Recruitment Manager', 'Business Partner', 'Sales Executive', 'Social Media Coordinator', 'Cashier', 'Administrative And Financial Manager - Algeria', 'Marketing Manager', 'Correcteur(trice)', 'Global Corporate Responsibility Lead - Communications and Engagement - Fixed Term Contract', 'Technical Support', 'Buying Executive - Car Transactions', 'Food Services Sales Representative', 'Operations Assistant', 'E-commerce Trade Executive', 'Jewelry Marketing Customer Service', 'Business Partner', 'Talent Development Manager', 'Technical Support Specialist', 'Senior Operations Assistant / Executive Assistant to Director - G6', 'Sales Executive', 'Customer Service', 'Travel Consultant - Ticketing Officer', 'Senior Compliance Analyst', 'Market Research Analyst', 'Business Development Lead', 'Sales Analyst', 'Group Communication Specialist', 'Account Manager', 'Hemophilia Patient Journey Partner', 'Digital Marketing & Communication Officer', 'Gerente de Habitaciones', 'Sales Executive', 'Business Analyst', 'Junior Accountant', 'Operational Consultant', 'Senior Investment Analyst', 'Business Development Executive', 'Community Manager', 'Quality Assurance Analyst', 'Head Of Internal Audit', 'Assistant-vendeur', 'Purchasing Manager', 'Sales-Freelance', 'Technical Consultant', 'Store Supervisor', 'Social Media Coordinator', 'Public Relations Manager/Executive', 'Creative Marketing Manager & Content Creator', 'Insurance Advisor ( Agent)', 'Warehouse Manager', 'Production Maintenance Supervisor', 'Business Development Support Junior Non-Key Experts (3 individuals)', 'ERP Support Specialist', 'Fulfillment Manager', 'Digital Marketing Specialist', 'Social Media Manager', 'Finance Officer', 'Sales Person for a Leading Retail Company', 'Digital Marketing Strategist', 'Deals Graduates - Lebanon', 'Pharmacist Assistant', 'Retail Sales Representative', 'Marketing Intern', 'Senior Insurance Officer', 'Sales Assistant', 'Social Media Specialist ‚Äì Customer Engagement', 'Information & Cyber Security Consultancy Service', 'Senior Strategic Planner', 'Script Writer', 'Assurance Graduates - Lebanon', 'Executive- Planning', 'Sales Representative', 'Business Intelligence Manager', 'Medical Sales Representative', 'Digital Media Manager', 'Social Media Executive', 'Economic Analyst (Abu Dhabi Based)', 'A2P Account Coordinator', 'Talent & Employer Branding Executive', 'Content Creator', 'Human Resources Manager', 'Sales Consultant', 'Traffic Manager', 'Sales Account Executive', 'Sales Specialist', 'Purchasing Manager', 'Content Writer', 'Marketing Executive', 'Copywriter', 'Sales And Marketing Specialist', 'Sales Consultant', '(4) Human Resources Coordinators - Bekaa, BML, North, South', 'Business Data Analyst', 'Procurement Manager', 'Digital listener / Analysis', 'Information Technology Specialist', 'Sales Specialist', 'Sales Executive', 'Salesperson', 'Financial Advisor', 'Senior Contract Engineer', 'Sales Executive', 'Accountant', 'Project Manager', 'Internal Auditor', 'Digital Marketing Executive', 'Sales Specialist', 'Automation Engineer', 'Commercial Planning Manager', 'Rooms Manager', 'Area Account Manager', 'Insurance Agent', 'Content Manager (Copywriter)', 'English Teacher', 'Content Creator', 'Finance Specialist - System Support', 'Global Corporate Responsibility Supervising Associate - Communications and Engagement - Mat Cover', 'E-commerce Trade Executive', 'Marketing Specialist', 'Sales person', 'Customer Support Specialist', 'Sales Consultant', 'Remote Food Specialist', 'Sales Consultant', 'Security Manager', 'Quality Control Inspector', 'Technology and Digital Transformation Manager', 'Business Development Manager', 'Copywriter', 'Qatar-based Manager/Senior Manager at Top-Tier Global Strategy Consulting Firm', 'Real Estate Sales Agent', 'Message Broadcast Specialist', 'Quality Assurance Engineer', 'Sales Consultant', 'Sales Consultant', 'Administrative and Financial Coordinator', 'Sociele is Hiring in Lebanon', 'Digital Marketer', 'Junior Accountant', 'Marketing Manager', 'Head of Finance', 'Sales Account Manager', 'Rooms Manager', 'Sales Consultant', 'ET_BO_12961_Process Business Analyst Lead', 'Client Relations Representative Intern', 'Actuarial Analyst', 'Sales Advisor', 'Assistant Fashion Designer', 'Security Consultant', 'UX Researcher-Remote', 'Outside Sales Representative - W2/Commission Sales/Bonuses', 'Internal Audit Manager', 'Digital Marketing Associate', 'Marketing & Communications Manager', 'Water and Sanitation Advisor', 'Sales Executive', 'Social Media Strategist', 'Saleswoman', 'Auditor & Accountant', 'Volunteer', 'Regulatory Assistant - MEA', 'Digital Marketing Specialist', 'Social Media Specialist', 'Bootcamp - Field Service Management', 'Regional Sales Manager - Levant', 'Digital Manager', 'Executive Business Development', 'Ecommerce Sales Representative', 'Communications Editor of Tarbiyah 21 Newsletter', 'Knowledge Management Specialist (Consultant)', 'Marketing and Business Development Specialist', 'Digital Marketing Intern', 'ÂÆøÊ≥ä„Éû„Éç„Éº„Ç∏„É£„Éº', 'Creative Bilingual Copywriter', 'Quality Assurance Analyst', 'Manager - Media', 'Scholarship Program Coordinator', 'Accounts Receivables Officer', 'Maintenance Technician', 'Sales Representative/Managers', 'Business Enablement CE Manager', 'Executive- Social Media', 'Consultant for Top Global Consulting Firm (Dubai & KSA)', 'Accountant', 'Project Pre-Sales Engineer', 'Buying Executive - Car Transactions', 'Digital Marketing Specialist', 'Software Sales Specialist', 'Manager - Media', 'Senior Anti-Corruption Advisor', 'Head of Project - Economic Development*', 'Life Insurance Specialist', 'Sales Engineer', 'Marketing Associate', 'Promotion Producer', 'Senior Instructor', 'Education Coordinator (Head of Program) - Beirut', 'High School English Teacher', 'Sales Representative', 'Sales Consultant', 'Marketing Specialist', 'Life Insurance Specialist', 'Student Support Officer (Lebanese position)', 'Microsoft Certified Trainer', 'Growth Marketing Manager - Saudi Arabia', 'Insurance Advisor', 'Salesperson', 'Social Media Manager (In-house)', 'Sales And Marketing Associate', 'Outdoor Sales Executive / Sales Manager', 'Sales Executive', 'Preschool English Teacher', 'Sales Executive', 'Institutional Sales and Account Manager - MENA', 'Software Project Manager', 'Plant Manager', 'IP Engineer', 'M&E Officer - Akkar', 'Enterprise Development Specialist', 'Digital Marketing Specialist', 'Arabic Digital Editor', 'Estimation Engineer', 'Digital Marketing Specialist', 'Technical Project Manager', 'Project & Fundraising Coordinator', 'GRADUATE DEVELOPER', 'Life Insurance Specialist', 'GRADUATE DEVELOPER', 'GRADUATE DEVELOPER', 'Content Manager - Regional', '√âditeur vid√©o', 'Real Estate Agent', 'Franchise Owner', 'SAT Tutor', 'Senior Business Plan Writer & Market Research Analyst', 'Audit & Assurance - Experienced Associate', 'Assurance - Summer Internship - Lebanon', 'Business Intelligence Analyst', 'Digital Marketing Manager', 'Marketing Translator (EN>AR)', 'Sector Consumer Insights Manager ‚Äì Beverages, AMESA Sector HQ', 'Data Integrity Analyst', 'Digital Marketing Executive', 'IT System Administrator', 'Senior Product Manager', 'Senior Business Analyst - 28907', 'Sales Consultant', 'Senior Energy Engineer', 'Manager Total Rewards', 'Financial Sales Representative (FSR)', 'Managed Security Services Officer/Engineer L1', 'Beirut - External Partnerships Officer SC 8', 'Sales Representative', 'Experienced DB2 Professionals', 'Sales Operations Manager', 'FINANCE ANALYST - Dubai, UAE', 'Pharmacist', 'Digital Marketing Specialist', 'Quality Assurance Engineer', 'Child Protection Specialist', 'Potential Sales Unit Manager', 'Responsable H√©bergement (H/F)', 'Legal Officer - Qobayat', 'Fashion Designer', 'Junior Art Director', 'Business Systems Analyst', 'Principal Solutions Architect', 'Production Operator', 'Work at Home Contact Center Agent (Full-Time & Part-Time) (AR)', 'Digital Designer', 'Content Manager', 'Senior Data Analyst', 'Bilingual Corporate Senior Associate', 'JUNIOR DEVELOPER -- Remote', 'Captain Waiter and Runner', 'Marketing Specialist', 'Digital Marketing Specialist', 'Peer Educator', 'Software Developer', 'Search Engine Optimization Specialist', 'Technical Services Representative', 'Technical Workshop Coordinator', 'Finance Associate Manager - Capex Planning, AMESA Sector HQ', 'Pharmacist', 'HR Manager', 'Digital Marketing Manager', 'Chief Accounting Officer', 'Supply Chain Sr Manager ‚Äì Demand Planning, AMESA Sector HQ', 'Head of Customer Support, Trilogy (Remote) - $400,000/year USD', 'Assistant', 'Outside Sales Representative', 'Technical Services Analyst', 'Tech Lead-Manager (F/H)', 'Website Content Writer', 'WPE Case Worker - Akkar', 'Senior Executive - Media', 'Python Developer', 'Senior Accountant', 'Female English Teacher (Middle School)', 'Telesales Representative', 'Education Coordinator (Head of Program) - Beirut', 'Multimedia Specialist', 'Electrical Design Engineer', 'Waitress', 'Content Curator', 'Financial/Legal Arabic <> English Lead Translator needed in Lebanon', 'Real Estate Agent', 'Acting/LHIF Country Coordinator (Parental Cover) - Beirut', 'Digital Marketing Specialist', 'Waitress', 'Senior System Analyst', 'Programme Specialist (Education)', 'Sales Representative', 'Intermediate QA Engineer', 'Scoping Engineer', 'Senior Community-Based Protection Assistant - 28927', 'User Experience Designer', 'Executive Recruiter', 'Digital Designer', 'Site Engineer/RF Field Service Manager', 'Paid Marketing Manager', 'BIM Coordinator', 'M&E Officer - Akkar', 'Market Research Operations Manager', 'RBT Content Specialist', 'DATA ENGINEER INTERN - Dubai or Remote', 'Senior ERP Specialist (Oracle- JDE)', 'Junior Software Engineer', 'Digital Marketing Specialist', 'ET_BO_12960_Process Business Analyst Lead', 'Construction Foreman', 'Azure, D365 FO/CE, Data & Analytics, AI/ML, Azure Apps Champion', 'Beirut- Programme Policy Officer (Gender) SC 8', 'Creative Designer', 'Mental Health & Psychosocial Support (MHPSS) Project Manager', 'Islamic Banking Flexcube Consultant', 'Data Integration Analyst M/W', 'Videographer editor', 'Intermediate RF Engineer', 'Senior Instructors', 'Software Sales Specialist', 'Market Research Project Manager', 'Electronicien', 'Lebanon Resource Center (LRC) - Audit & Assurance | Senior', 'Jewelry Matrix Designer/Operator', 'IT Security Specialist', 'Outdoor sales agent', 'Maintenance Services Representative', 'Senior Account Manager ‚Äì A2P SMS', 'Finance and Contract Coordinator (ERICC)', 'Graphic Designer', 'Production and BIM Manager', 'Technical Data Engineer', 'Advisor, Supply Chain Information Systems', 'Study a Masters Online', 'Performance Manager', 'React Native', 'Architectural Specification Writer', 'Data Integration Engineer', 'SAP Functional Consultant', 'Unity Developer', 'Infrastructure Engineer (Remote)', 'SAP Success Factor Consultant', 'Corporate lawyer', 'Pharmacist', 'Senior Executive - Media', 'Clinical Research Associate', 'restaurant and flower shop manager', 'Creative Designer', 'Product Designer', 'Graphic Designer', 'SC Sr Manager - Productivity & LSS, AMESA', 'Sales Engineer - Equipment (Lebanon)', 'IT - Business Intelligence Manager', 'Frontend Developer', 'DATA ENGINEER - Dubai or Remote', 'Mobile Developer (Freelancer)', 'Group Fitness Instructor', '3D Designer', 'Senior Data Consultant', 'Senior Associate ‚Äì Paid Search', 'ICRC MOVEMENT COMMUNICATION ADVISER - NEAR AND MIDDLE EAST (NAME)', '3D Outfit Designer', 'Software Quality Assurance Analyst', 'Draftsperson - Mechanical', 'Digital Conversion Optimization Specialist', 'Senior Associate (Remote) - $200,000/year USD', 'Back-End Developer', 'Food Hygiene & Safety Supervisor', 'Pharmacist', 'Cyber Security Business Development Manager', 'Application Developer', 'Automation Technician', 'Facilitator, ARD (195 Days)', 'Art Director (In-house)', 'Senior Art Director', 'Mechanical Technician', 'Freelance Animator', 'Senior Sales - CFD and Forex Trading', 'Graphic & Digital Marketing Designer', 'Mobile Application Developer', 'Legal Counsel', 'Software Quality Assurance Analyst', 'Shelter and Settlements Coordinator Lebanon Beirut', 'Lead Analyst/Project Manager, Lebanon Crisis Analytics Hub - Beirut, Lebanon', 'Mobile Application Developer', 'Product Owner', 'Junior Graphic Designer', 'Graphic Designer', 'Senior Associate (Remote) - $200,000/year USD', 'Graphic Designer', 'Graphic Designer', 'Deals, Transaction Services - Financial Due Diligence - Financial Services - Senior Associate - Beirut', 'Consultant & Software engineer', 'Study a Masters Online in Finance', 'Track Vehicle Maintenance Trainer', 'UI Designer', 'Junior Graphic Designer', 'Senior Art Director', 'Research Programme Coordinator ‚Äì Education Research in Conflict and Protracted Crisis (ERICC)', 'Senior Mechanical Engineer', 'Oracle Applications Sales Representative (CX Territory)', 'Mobile Developer', 'Arabic Digital Learning Glossary Consultant', 'Architecte s√©curit√© informatique H/F-Montr√©al', 'Automotive Technician', 'Software Developer', 'Graphic Designer', 'UI/UX Designer', 'ERC Manager Levant', 'React native Developer', 'Tax & Legal Services Graduates - Lebanon', 'Senior Manager Customer Support, Trilogy (Remote) - $400,000/year USD', 'Back End Developer', 'Software Architect', 'Graphic Designer and Copywriter', 'WORK FROM HOME | Selfie Video Data Collection for Arabic Speakers in Lebanon', 'Full Stack Engineer', 'UX/UI designer', 'iOS Developer', 'ŸÖÿØÿ±ÿ≥ŸäŸÜ ÿ¨ÿßŸÖÿπŸäŸäŸÜ ŸÜÿßÿ∑ŸÇŸäŸÜ ÿ®ÿßŸÑŸÑÿ∫ÿ© ÿßŸÑÿπÿ±ÿ®Ÿäÿ© ŸÑŸÑÿ™ÿØÿ±Ÿäÿ≥ ÿπÿ®ÿ± ÿßŸÑÿßŸÜÿ™ÿ±ŸÜÿ™', 'Management & Sales Training Program', 'Full Stack Engineer', 'Video Editor', 'Sales Area Manager (Pulp experience)', 'Software Engineer', 'Electrician', 'Intermediate Software Engineer', 'Microsoft Dynamics Consultant', 'Videographer', 'Senior Power BI Consultant', 'Web Developer', 'UI/UX Designer', 'Electrician', 'Graphic Designer', 'Web Developer', 'Mobile Developer', 'STRUCTURAL ENGINEER - BIM SPECIALIST', 'Senior Interior Designer', 'Bartender', 'Mobile Developer', 'Senior Field Producer', 'Senior Associate - Tax & Accounting', 'Mid / Senior Quality Assurance', 'Graphic Designer', 'Graphic Designer', 'Senior Graphic Designer', 'Graphic Designer', 'Horticulture and Pest Control Manager', 'Education Sector Coordinator, P-4, Beirut Lebanon, Temporary Appointment 364 days', 'UI Designer', 'Regional Emergency Director', 'Graphic Designer', 'Graphic Designer', 'Support Manager Lebanon BML - National Position', 'Full Stack Web Developer', 'Software Developer', 'Switching & Transmission Engineer', 'Mechanical Technician', 'SEO Specialist (Arabic Speaker)', 'Graphic Designer', 'Senior Art Director', 'Graphic Designer', 'Teacher, Itinerant (195 Days)', 'Graphic Designer', 'Graphic Designer', 'Full Stack GIS Developer', 'React Web Developer', 'Head Chef', 'Graphic Designer - Beirut', 'Graphic Designer', 'Graphic Designer', 'Graphic Designer', 'Graphic Designer', 'DevOps Engineer', 'UX/UI Designer', 'Wordpress Developer', 'Graphic Designer', 'Mobility Therapist (195 Days)', 'Freelance Photographer', 'Graphic Designer', 'Chief WASH, P5, Post #85233, Beirut, Lebanon, [Re-advertisement]', 'Graphic Designer', 'Senior System Administrator', 'Software Engineer', 'Consulting - Financial Services - Front Office Transformation- Senior Consultant (Lebanon)', 'Senior Graphic Designer/Social Media Specialist', 'Graphic Designer', 'ÊàøÂä°ÁªèÁêÜ', 'Executive Chef', 'Clinical Educator', 'Consulting - Financial Services - Digital Transformation - Manager (Lebanon)', 'Dental Laboratory Technician', 'Mobile App Developer (Flutter)', 'IFS - Engagement & Communications Manager - Lebanon', 'Programme Director ‚Äì Education Research in Conflict and Protracted Crisis (ERICC)', 'Graphic Designer', 'PHP Developer', 'Full Stack Developer', 'Graphic Designer', 'Senior Art Director', 'Graphic Designer', 'Graphic Designer', 'Senior Digital Designer', 'Kitchen Staff', 'MICROSOFT DYNAMICS 365 DEVELOPER', 'Mobile Developer (Flutter)', 'Graphic Designer', 'Electro Mechanical Technician', 'Graphic Designer', 'Senior Project Manager ‚Äì Monitoring and Evaluation Technology (M&E)', 'Senior Software Engineer', 'Software Engineer', 'Java Software Engineer', 'Full Stack Developer', 'Mobile Application Developer', 'Full-stack Developer', 'Server/Waiter/Waitress', 'Graphic Designer', 'Head of Finance, Levant', 'Graphic Designer', 'Senior Anti-Corruption Advisor (S-ACA)', 'Heavy Equipment Technician', 'Android Developer', 'Executive Chef', 'Hairstylist', 'Software Architect', 'Graphic Designer', 'Dotnet Developer', 'Full-stack Developer', 'Medewerker Montage', 'Backend Software Developer', 'DevOps/ Site Reliability Engineer', 'Senior Web Developer', '3D Artist', 'Hair And Makeup Artist', 'Graphic Designer', 'Software Engineer', 'iOS Developer', 'Android Developer', 'Projects Service Crew Mechanical', 'React Native Developer', 'Senior Software Developer', 'AI Jobs -Photo Collection ‚Äì Global Participants', 'Motion Graphic Designer', 'Creative Graphic Designer for a Printing Press', 'PHP Developer', 'Unity 3d Developer', 'Analyst, Commercial Technologies Software Engineering', 'Senior Graphic Designer', 'Experienced PostgreSQL Professional', 'iOS Developer', 'Cloud Infrastructure Engineer', 'Graphic Designer (UI/UX)', 'Restaurant Manager - Pizza background', 'Manicurist', 'SR. MECHANICAL MAINTENANCE ENGINEER SPECIALIST', 'Part Time Full Stack Engineer', 'Senior Web Developer', 'Motion Graphic Designer', 'Senior System Administrator (Linux)', 'Product CTO, Trilogy (Remote) - $400,000/year USD', '3D Animator', 'Senior Web Application Developer', '.Net and SQL Server Developer', 'Motion Graphic Designers', 'Senior Graphic Designer', 'Senior Java Software Engineer', 'Consulting - Financial Services - Risk & Regulation - Senior Consultant (Lebanon)', 'Senior Software Engineer', 'Motion Graphic Designer', 'PHP Web Developer', 'Senior PHP Developer Wanted!', 'Executive Chef', 'Senior Legal Manager - Beirut', 'Global Support Manager, Trilogy (Remote) - $400,000/year USD', 'A senior developer PHP', 'Angular Developer', 'Senior Public Health Officer, P4, Beirut', 'MI

In [15]:
#Company Name
comp=browser.find_elements_by_class_name("hidden-nested-link")
comp_name=[]
for i in comp:
    comp_name.append(i.text)
    
print(comp_name)
print()
print(len(comp_name))

['Shabab Lab', 'NokNok', 'PawPots', 'NokNok', 'CAFU', 'EDITEC', 'Confidential', 'TheSoul Publishing', 'Toumajean Couture', 'Cedarcom - Mobi', 'Studio Al Fankoosh', 'Confidential', 'EMC- Elie Melhem Clinics', 'Broadnet Technologies', 'Gabriel Bocti s.a.l', 'Funding Souq | ŸÅŸÜÿØŸäŸÜŸÇ ÿ≥ŸàŸÇ', 'Anghami', 'EMPG', 'St.John technical institute', 'Catafago & Co.', 'AGRIWA sal', 'International School of Innovation', 'Multinational Insurance Company', 'KHOUBOURAT HR Program', 'United Nations Economic and Social Commission for Western Asia (ESCWA)', 'JOIN Solutions', 'Oakridge Hotel & Spa', 'Norwegian Refugee Council', 'Holdal - Abou Adal Group', 'Asteya', 'UNV LTD', 'Patchi', 'Al-Fanar Media', '\uf0a7 ELPadrino Italian and Baba Sweets', 'Landmark Health', 'Marcura', 'Yaduna WHHC', 'ELIE SAAB', 'EY', 'noon', 'Multinational Insurance Company', 'Fidelity Insurance', 'Al Maher Trading Est.', 'Moustache Group', 'Holdal - Abou Adal Group', 'noon', 'UNHCR, the UN Refugee Agency', 'Monty Mobile', 'Leo Burnett', 'Steelgreen S.A.', 'Confidential', 'SUCAFINA', 'Maroun Chedid SAL', 'Ahliah School', 'Brainnest', 'Confidential', 'Unimec International', 'Eli Lilly and Company', 'Deloitte', 'HeadHunter S.A.R.L', 'SITA', 'Modern University for Business and Science', 'Confidential', 'Jeunesse Global', 'Transmed', 'Absolutely Digital', 'virus gaming center', 'BUTEC', 'The Lebanese Bakery', "L'Orient-Le Jour", 'EY', 'Resource Group', 'EMPG', 'Meptico SAL', 'N N RENT A CAR', 'EMPG', 'Falamank fine jewerly', 'Insurance Business America', 'BUTEC', 'Antwerp Technologies', 'International Labour Organization', 'Confidential', 'Presentail', 'BetterFly Travel Consultancy and Services s.a.r.l', 'Marcura', 'Al Wadi Al Akhdar', 'Siren Associates', 'Holdal - Abou Adal Group', 'Toy Market Group Holding', 'Al hachem superstore', 'Roche', 'Medicals International', 'MOVENPICK', 'Standard Group LB', 'Novelus', 'BV', 'SNS', 'Bridge Capital Holding', 'MINDFLARES', 'Wetpaint Creative Digital Solutions', 'IDS FinTech', 'Sallaum Lines', 'Francevision', 'Al Forno Gourmet', 'Confidential', 'SNS', 'Librairie nour', 'Holdal - Abou Adal Group', 'Kempinski Hotels', 'YEPREM', 'Allianz SNA', 'ELIE SAAB', 'compagnie des sources du Liban - Sannine', 'DAI', 'Transmed', 'Next Parcel', 'The Kode', 'JMEDIA PRODUCTION', 'DRC - Danish Refugee Council', 'Confidential', 'TEDMOB SAL', 'PwC', 'Pharmacy', 'Tamer Freres sal', "Eddy's Group", 'C.A.T. Group', 'Emakina Asia', 'A.N.Boukather Holding', 'Danish Refugee Council / Dansk Flygtningehj√¶lp', 'Leo Burnett', 'Karmic Consultancy DMCC', 'PwC', 'OMD MENA', 'Orjoan', 'GlobeMed Group', 'Droguerie Phenicia', 'Generation R Holding', 'Podeo | ÿ®ŸàÿØŸäŸà', 'Multiply Group', 'Monty Mobile', 'Danone', 'Sharks Creators', 'Deloitte', 'Confidential', 'Ethos Interactive', 'Klangoo', 'Other', 'global Foods S.A.L.', 'Al Makassed Philanthropic Islamic Association of Beirut', 'RYMCO', 'SABIS¬Æ', 'Premium Delivery', 'Confidential', 'NRC Europe - Norwegian Refugee Council', 'Maids.cc', 'Monty Mobile', 'Touch Of Art', 'Besancon beirut', 'Aliston', 'Swiss U life', 'Beauty Products', "ALVIN D'OR", 'Dar', 'B Groove Public Health', 'Presentail', 'ICMPD - International Centre for Migration Policy Development', 'Monty Mobile', 'BRIO Bags', 'Dealers Group sarl.üá±üáß', 'Confidential', 'Philip Morris International', 'MOVENPICK', 'Cummins Inc.', 'Confidential', 'Salt', 'SABIS¬Æ', 'Presentail', 'Novelus', 'EY', 'Steelgreen S.A.', 'OLFKI Sarl', 'Tapis Mahmoud Kabalan', 'Podeo | ÿ®ŸàÿØŸäŸà', 'insurance', 'FoodStyles', 'Fidelity Insurance', 'MOVENPICK', 'Cie. Des Sources Du Liban - Sannine', 'Cedar White Bradley (CWB)', 'Menasa', 'Logisoft', 'Turas Group', 'Phoenicia Real Estate', 'Broadnet Technologies', 'Drapp_me', 'MetLife Lebanon', 'OneLife', 'Acci√≥n contra el Hambre', 'Sociele', 'FEER McQUEEN', 'Confidential', 'PawPots', 'Podeo | ÿ®ŸàÿØŸäŸà', 'SOFTSTM', 'MOVENPICK', 'Confidential', 'EY', 'Matco Marketing and Trading co.', 'GlobeMed Group', 'Confidential', 'Lemonade Fashion', 'Crystal Networks', 'Modus Capital', 'NFIB', 'Future Pipe Industries', 'Presentail', 'Podeo | ÿ®ŸàÿØŸäŸà', 'CrossBoundary', 'Foodteq', 'Wick', 'Ghosn Group', 'Confidential', 'Methle Methlak', 'Eli Lilly and Company', 'Edari', 'Menasa', 'Novelus', 'Cisco', 'IAAT Education', 'Confidential', 'Holdal - Abou Adal Group', 'UNESCO - United Nations Educational, Scientific and Cultural Organization', 'UNESCO - United Nations Educational, Scientific and Cultural Organization', 'Starbridge Capital', 'MoeAbdallah.com', 'MOVENPICK', 'Ethos Interactive', 'GlobeMed Group', 'Starcom', 'Lebanese Association for Scientific Research (LASeR)', 'Medicals International', 'Nestl√© Waters', 'The Insurance Experts', 'EY', 'OMD MENA', 'Turas Group', 'Zaatar W Zeit', 'Hikvision MENA', 'Steelgreen S.A.', 'Confidential', 'Ambula', 'Publicis Sapient', 'Ian, Evan & Alexander Corporation an EverWatch Co.', 'Welthungerhilfe', 'HERO agency', 'Mashriq Energy', 'Presentail', 'Aljadeed TV', 'MOE', 'International Rescue Committee', 'Beirut Evangelical School ,Rabieh', 'Safelane Insurance Solutions', 'Confidential.', 'Cedar White Bradley (CWB)', 'InSure Agency', 'Kiron Open Higher Education', 'IN@TCO SARL', 'Binance', 'Confidential', 'Ghalico Group SARL', 'Multiply Group', 'Promoteam, Organisers Of Specialty Exhibitions Since 1991', 'American global company', 'Dental Labs & Clinics', 'Goodwill International School', 'Pictura sal', 'Binance', 'Confidential', 'MAN Enterprise', 'Cedarcom - Mobi', 'International Rescue Committee', 'International Labour Organization', 'Ahliah School', 'WarnerMedia', 'ALUSTEEL', 'Brush Art Co. - Your space is our Canvas', 'Proximie', 'Kiron Open Higher Education', 'Cobblestone Energy', 'Confidential', 'Cobblestone Energy', 'Cobblestone Energy', 'Foodics', 'Cinema & Tv', 'JSK Real Estate', 'Antal International', 'Edubolt', 'SAFICO Holding', 'Deloitte', 'PwC', 'Murex', 'AMAGS GLOBAL', 'RWS Group', 'PepsiCo', 'Sword Group', "Malik's Lebanon", 'Confidential (Banking)', 'POCO', 'UNHCR, the UN Refugee Agency', 'SAVERS Agency', 'IPT PowerTech Group', 'Deloitte', 'Arvest Bank', 'EXEO', 'World Food Programme', 'Medicals International', 'Procedars', 'Podeo | ÿ®ŸàÿØŸäŸà', 'Cobblestone Energy', 'AMB Group', 'RUSH & REEZ', 'EverteamGS-Intalio', 'Save the Children International', 'Angels Unit', 'MOVENPICK', 'International Rescue Committee', 'Elias Showroom', 'Clap Clap', 'International Rescue Committee', 'Novelus', 'A.B. PoultryCo', 'Mass Markets', 'M&C SAATCHI MENA', 'Podeo | ÿ®ŸàÿØŸäŸà', 'Monty Mobile', 'IDEX Consulting Ltd', 'Cobblestone Energy', 'Cafe77', 'Krikor Jabotian', 'Debbane Saikali Group', 'Rashet Kheir', 'Net-Recrute', 'Tecomsa SAL', 'Panasonic Avionics Corporation', 'Rashet Kheir', 'PepsiCo', 'Pharmacie Ste Th√©r√®se Zouk Mikael', 'Podeo | ÿ®ŸàÿØŸäŸà', 'Touch Of Art', 'ABYAT', 'PepsiCo', 'Crossover for Work', 'GAB LIQUIDATIONS Buy, Sell, Rent Real Estate & Renovation Services.', 'Shanshal Chocolate', 'New Metrics', 'EQUADIS SA', 'Podeo | ÿ®ŸàÿØŸäŸà', 'International Rescue Committee', 'Publicis Sapient', 'Castalise', 'Confidential.', 'Al-Bayader Beirut', 'A.R. JUBAILI & CO.', 'International Rescue Committee', 'UDU JOBS LLC', 'METS Energy SAL', 'Business Umbrella-Recruitment ,training & consulting', 'Podeo | ÿ®ŸàÿØŸäŸà', 'RWS Group', 'dyarcom real estate', 'International Rescue Committee', 'IntoSports app LLC', 'Business Umbrella-Recruitment ,training & consulting', 'Cedar White Bradley (CWB)', 'UNESCO - United Nations Educational, Scientific and Cultural Organization', 'Elite Solutions', 'eddress', 'Novelus', 'UNHCR, the UN Refugee Agency', 'Absolutely Digital', 'International Rescue Committee', 'Kashida', 'Novelus', 'Wick', 'A-Consult Dolly Debs Architects', 'International Rescue Committee', 'InfoPro sal', 'Monty Mobile', 'Cobblestone Energy', 'USL/ Sidewalks', 'General Paint Co.', 'DayOm', 'EY', 'Construction&', 'Netways', 'World Food Programme', 'Digitect', 'Medair', 'JMR Infotech', 'EXEO', 'And Beyond Mena', 'Novelus', 'Modern Online Education', 'Click Round Technologies', 'InfoPro sal', 'SOCIMEX IMPORT - EXPORT', 'Deloitte', 'jewelry', 'Mada Communications international', 'AROPE Insurance | Lebanon', 'Panasonic Avionics Corporation', 'INFO-Telecom Shpk', 'International Rescue Committee', 'The Supporters', 'BUTEC', 'Apgar Consulting', 'International Rescue Committee', 'Educatly', 'Mindshare', 'BTekUp', 'Construction & Builders Consultants', 'Apgar Consulting', 'Sword Group', 'BLACK LEMON', 'Landmark Health', 'Inflexion Tech', 'Sami Nahas Law Firm', 'Cherfan pharmacies', 'Starcom', 'IQVIA', 'La M√©nagerie', 'GlobeMed Group', 'Menasa', 'The Station Media & Production', 'PepsiCo', 'Trane Technologies', 'Wooden Bakery', 'ArabiaGIS', 'Cobblestone Energy', 'Achour Holding', '1TRIBE', 'Impresario.Live', 'Maven Insights and Solutions', 'Merkle MENA', 'International Committee of the Red Cross - ICRC', 'ChrisKinterior', 'Sword Group', 'Dar', 'Confidential', 'Crossover for Work', 'CognativeX', 'GCC SERVICES', 'Pharmacie BioSant√©', 'Confidential', 'ArabiaGIS', 'Brasserie Almaza - Heineken Lebanon', 'Dallas ISD', 'Multiply Group', 'Gabriel Bocti sal', 'city-blu', 'Ned Animation - Youtube Channel', 'Confidential', "Foody's International", 'New Company', 'Podeo | ÿ®ŸàÿØŸäŸà', 'CSS Providers', 'NRC Europe - Norwegian Refugee Council', 'Mercy Corps', 'Vagary', 'Murex', 'GEEXEL', 'BLOOM AUTHENTIC OUTLETS', 'Crossover for Work', 'Po√®me Chocolate', 'GSM Facility Services', 'PwC Middle East', 'Aliston', 'Educatly', 'IDS International', 'Salem Group', 'GEEXEL', 'Levant Communication Group', 'International Rescue Committee', 'C.A.T. Group', 'Oracle', 'Equitick Financials', 'UNESCO - United Nations Educational, Scientific and Cultural Organization', 'Cooptalis', 'Confidential', 'Makassed General Hospital', 'IDML Products Limited', 'TWIG Finance', 'Novartis', 'White Stork', 'PwC', 'Crossover for Work', 'QUAYO Mobility', 'Capital Banking Solutions', 'Confidential', 'Appen', 'EQUADIS SA', 'Ftc', 'Mobile Arts', 'University of the People', 'Sherwin-Williams', 'Drapp_me', 'INDIGO Communication Arts', 'Jobskey Search and Selection', 'AlgoTraders', 'Red-Site S.A.R.L', 'The Web Addicts', 'Integrated Digital Systems (IDS)', 'Le Passeport Culinaire', 'HR CHAMP', 'ARTECH', 'areeba', 'Red-Site S.A.R.L', 'Librairie Antoine', 'Presentail', 'Capital Banking Solutions', 'Dar', 'Sahaco', 'Cave Des Ours', 'AEONODE', 'WarnerMedia', 'Grant Thornton Lebanon', 'FOO', 'Dental Labs & Clinics', '53DOTS_Dar Al Kotob', 'Confidential', 'e-mood', 'MJ Services Group', 'UNICEF', 'Designi', 'International Rescue Committee', 'Bureau Veritas Group', 'Rubicom Agency', 'NRC Europe - Norwegian Refugee Council', 'BARB', 'Acteos', 'MADA Communications International S.A.L', 'Entretien et Constructions M√©canique s.a.l (E.C.M s.a.l)', 'ITP Media Group', 'Plus Holding', 'Communication Design SAL', 'Yawmiyati.com', 'Dallas ISD', 'CodenDot', 'Grow Up!', 'Modern Geographic Technologies Corp', 'AlgoTraders', 'Cafe77', 'International Rescue Committee', 'Yawmiyati.com', 'HotelShop', 'Media Solutions', 'IMPACT BBDO', 'Novelus', 'Podeo | ÿ®ŸàÿØŸäŸà', 'Presentail', 'BASMA.com', 'Dallas ISD', 'Fleystars', 'Bepro', 'UNICEF', 'Ecomz', 'FOO', 'anexya', 'PwC Middle East', 'B-GROUP s.a.r.l', 'socialCRTL', 'MOVENPICK', 'Khoury Kitchen', 'Landmark Health', 'PwC Middle East', 'Technological Crown Innovation', 'Abiroot', 'PwC Middle East', 'International Rescue Committee', 'MYassine Woodworks and Design', 'Strive Middle East', 'Pioneers Gate', 'Matensa', 'VintageCellar App', 'Fly-Foot', 'AddBloom', 'Ethos Interactive', 'Pick a Poke', 'Dar', 'TWIG Finance', 'Nascode', 'Philka Group', 'PBM Real Estate in Lebanon', 'International Rescue Committee', 'Washmen', 'EDGE3 Technologies', 'Capital Banking Solutions', 'BASMA.com', 'ASAP Systems', 'Inhouse Production LTD', 'Radisson Hotel Group', 'Lebanese National Bloc - ÿ≠ÿ≤ÿ® ÿßŸÑŸÉÿ™ŸÑÿ© ÿßŸÑŸàÿ∑ŸÜŸäŸëÿ© ÿßŸÑŸÑÿ®ŸÜÿßŸÜŸäŸëÿ©', 'Novartis', 'IIS E-Solutions', 'BlueForce Inc.', 'soprel liban', 'QUAYO Mobility', 'Quick Meal Group SARL', 'Rima nail bar & beauty lounge', 'GlobeMed Group', 'Parallax Graphics', 'TWIG Finance', 'Oboulo International Limited', 'Timing', 'Podeo | ÿ®ŸàÿØŸäŸà', 'CC Staffing International Ltd.', 'Capital Banking Solutions', 'Monty Mobile', 'MiMi JAY', 'Douda Vermiculture Solutions', 'ASAP Systems - Cloud/On-Premises Inventory System & Asset Tracking Solutions', 'Monty Mobile', 'Monty Mobile', 'Aggreko ME and Central Ops', 'Webased', 'Advanced Business Solutions', 'TransPerfect', 'Sociele', 'Aleph Printing Press and Graphics', 'ElBarid Group', 'Growth Technology LLC', 'Cardinal Health', 'Aljesr.org', 'Procedars', 'Smartcode Internet Solutions', 'Proximie', 'EverteamGS-Intalio', 'RESTOGROUP', 'Nails & spa', 'Eni', 'Massyve.tech', 'WEBBOXED', 'Jusur', 'FOO', 'Crossover for Work', 'Confidential', 'QUALIZONE', 'SUCAFINA', 'District General Trading and Contracting Company', 'Zein Design', 'Capital Banking Solutions', 'PwC Middle East', 'Ethan Group', 'YEPREM', 'Xtreme Media Solutions Pro', 'Securealm S.A.L. Offshore.', 'Monty Mobile', 'International Rescue Committee', 'Crossover for Work', 'Broadnet Technologies', 'Human Capital Management', 'UNHCR, the UN Refugee Agency', 'FOO', 'Procedars', 'Crossover for Work', 'eddress', 'WhiteBeard', 'Path Solutions', 'areeba', 'Dallas ISD', 'STeP Systems That Perform', 'Self-Employed Contractor', 'Appen', 'Ecomz', 'Pilates 4 Everyone', 'EverteamGS-Intalio', 'Sword Group', 'Yummy yard Jbeil', 'IMPACT BBDO', 'Crossover for Work', 'Bottomline Technologies', 'Resource Group', 'Amana Capital', 'FOO', 'FOO', 'Net-Recrute', 'Crossover for Work', 'Gboard', 'Cosmedica clinic Bahrain', 'EF English First', 'FOO', 'FOO', 'The Career Club', 'Menasa', 'Crossover for Work', 'Best Assistance Lebanon', 'The Swan Pro', 'Kempinski Hotels', 'Rubix - Partner for Digital Business', 'TransPerfect', 'Microtech Solutions S.A.L.', 'CME', 'Jobs | Careers | Recruitment | Hiring Alerts Worldwide', 'Medisense Healthcare Solutions Pvt. Ltd.', 'TransPerfect', 'Integrated Digital Systems (IDS)', 'TransPerfect', 'AccuV', 'Agoda', 'Menasa', 'Dynamaze CA', 'KADRI PHARMACY', 'Band Industries (Roadie Music)', 'Agoda', 'FOO', 'Cobblestone Energy', 'Postlight', 'Rubix - Partner for Digital Business', 'AUBMC', 'Crossover for Work', 'Net-Recrute', 'Podeo | ÿ®ŸàÿØŸäŸà', 'Crossover for Work', 'Agoda', 'Agoda', 'Radisson Hotel Group', 'Spa Staff.com', 'Medical Recruitment UK', 'Postlight', 'FOO', 'Murex', 'FOO', 'Wider Talent Consultancy', 'Spa Staff.com', 'PwC Middle East', 'Self-employed', 'Medical Recruitment UK', 'Wider Talent Consultancy', 'Crossover for Work', 'Crossover for Work', 'Radisson Hotel Group', 'Careem', 'FOO', 'Spa Staff.com', 'Spa Staff.com', 'Radisson Hotel Group', 'Radisson Hotel Group', 'Spa Staff.com', 'FOO', 'Crossover for Work', 'Canonical', 'Toptal', 'Spa Staff.com', 'Crossover for Work', 'Toptal', 'Toptal', 'Toptal', 'Toptal', 'IQVIA', 'Careem', 'Toptal', 'Crossover for Work', 'Crossover for Work', 'Spa Staff.com', 'Toptal', 'Toptal', 'Toptal', 'Crossover for Work', 'Toptal', 'Crossover for Work', 'Crossover for Work', 'Crossover for Work', 'Agoda', 'PwC Middle East', 'Agoda', 'Agoda', 'Toptal', 'Toptal', 'Toptal', 'Toptal', 'Agoda', 'Toptal', 'Toptal', 'Agoda', 'Toptal', 'Agoda', 'Agoda', 'Agoda', 'Toptal', 'Agoda', 'Toptal']

791

In [16]:
#Location
location=browser.find_elements_by_class_name("job-search-card__location")
location_name=[]
for i in location:
    location_name.append(i.text)
    
print(location_name)
print()
print(len(location_name))

['Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Sinn El Fil, Mount Lebanon, Lebanon', 'Sinn El Fil, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Zgharta, North, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Ain Baal, South, Lebanon', 'Zalqa, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Lebanon', 'Keserwan District, Mount Lebanon, Lebanon', 'Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Lebanon', 'Saida, South, Lebanon', 'Lebanon', 'Lebanon', 'Baabda, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beyrouth, Beirut, Lebanon', 'Lebanon', 'Beyrouth, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Tripoli, North, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beyrouth, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Zouk Mkayel, Mount Lebanon, Lebanon', 'Antelias, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Beyrouth, Beirut, Lebanon', 'Beyrouth, Beirut, Lebanon', 'Beirut, Lebanon', 'Tyre District, South, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Tripoli, North, Lebanon', 'Beirut, Beirut, Lebanon', 'Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Raifoun, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Mansouriye, Mount Lebanon, Lebanon', 'Beyrouth, Beirut, Lebanon', 'Hazmiye, North, Lebanon', 'El Mkalless, Mount Lebanon, Lebanon', 'Broummana, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beyrouth, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Baabda, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beyrouth, Beirut, Lebanon', 'Beirut, Lebanon', 'Bqaatouta, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Bekaa, Baalbek Hermel, Lebanon', 'Zouk Mkayel, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Ain El Rommane, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Jdaide, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Borj Hammoud, Mount Lebanon, Lebanon', 'Sinn El Fil, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'J≈´niyah, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Matn District, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'J≈´niyah, Mount Lebanon, Lebanon', 'Zalqa, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Adma Et Dafna, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'North, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Tripoli, North, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beyrouth, Beirut, Lebanon', 'Zouk Mkayel, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Adma Et Dafna, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beyrouth, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Ghazir, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Jall Ed Dib, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Bqaatouta, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Forn Ech Chebbak, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Keserwan District, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Jbeil District, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Jeita, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Dbaiyeh, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beyrouth, Beirut, Lebanon', 'Beirut, Lebanon', 'Sinn El Fil, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Lebanon', 'Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Sarba, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Forn Ech Chebbak, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Zalqa, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beyrouth, Beirut, Lebanon', 'Matn District, Mount Lebanon, Lebanon', 'Sinn El Fil, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Tripoli, North, Lebanon', 'Beirut, Lebanon', 'Falougha, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beyrouth, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Jeita, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Tikrit, Akkar, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Zalqa, Mount Lebanon, Lebanon', 'Borj Hammoud, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Jall Ed Dib, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Jdaide, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Mazraat Yachouaa, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Matn District, Mount Lebanon, Lebanon', 'Sinn El Fil, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Marhat Aakkar, Akkar, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Jall Ed Dib, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Baabda, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut Central District, Beirut, Lebanon', 'Jubayl, Mount Lebanon, Lebanon', 'Mount Lebanon, Lebanon', 'Beyrouth, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'J≈´niyah, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Zalqa, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Lebanon', 'Beirut, Beirut, Lebanon', 'Tripoli, North, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Dbaiyeh, Mount Lebanon, Lebanon', 'Beyrouth, Beirut, Lebanon', 'Marhat Aakkar, Akkar, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'El Mkalless, Mount Lebanon, Lebanon', 'Baaqline, Mount Lebanon, Lebanon', 'Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Zouk Mkayel, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beyrouth, Beirut, Lebanon', 'Zouk Mkayel, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Antelias, Mount Lebanon, Lebanon', 'Lebanon', 'Beyrouth, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Adonƒ´s, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Marhat Aakkar, Akkar, Lebanon', 'Beirut, Beirut, Lebanon', 'Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Ghaziye, South, Lebanon', 'Beirut, Beirut, Lebanon', 'Ouata Amaret Chalhoub, Mount Lebanon, Lebanon', 'Bchamoun, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Kesrwan, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'South, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Zahle, Beqaa, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Keserwan District, Mount Lebanon, Lebanon', 'Marhat Aakkar, Akkar, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Ghazir, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beyrouth, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Tripoli, North, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Jall Ed Dib, Mount Lebanon, Lebanon', 'El Mkalless, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Saida Dekerman, South, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Keserwan District, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Jbeil District, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Lebanon', 'Beirut, Lebanon', 'Lebanon', 'Beirut, Lebanon', 'Jbeil District, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Jubayl, Mount Lebanon, Lebanon', 'Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Ain Saade, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Sinn El Fil, Mount Lebanon, Lebanon', 'Forn Ech Chebbak, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Beyrouth, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Antelias, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Borj El Naqoura, South, Lebanon', 'Jbeil District, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Erkay, South, Lebanon', 'Beirut, Lebanon', 'Mar Roukouz Et Dahr El Hssaine, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Zgharta, North, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Tripoli, North, Lebanon', 'Beirut Central District, Beirut, Lebanon', 'Beirut, Lebanon', 'Majdel Koura, North, Lebanon', 'Beirut, Beirut, Lebanon', 'Aramoune, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Lebanon', 'Ghosta, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Sinn El Fil, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beyrouth, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Lebanon', 'Lebanon', 'Beirut, Lebanon', 'Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'J≈´niyah, Mount Lebanon, Lebanon', 'Sinn El Fil, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Tripoli, North, Lebanon', 'Beirut, Lebanon', 'J≈´niyah, Mount Lebanon, Lebanon', 'El Mkalless, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Zouk Mkayel, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Sinn El Fil, Mount Lebanon, Lebanon', 'Sinn El Fil, Mount Lebanon, Lebanon', 'Bchamoun, Mount Lebanon, Lebanon', 'J≈´niyah, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Saida, South, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Kesrwan, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Jbeil District, Mount Lebanon, Lebanon', 'Mount Lebanon, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Erkay, South, Lebanon', 'Tripoli, North, Lebanon', 'North, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Erkay, South, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Sinn El Fil, Mount Lebanon, Lebanon', 'Ed Dekouane, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beyrouth, Beirut, Lebanon', 'Tripoli, North, Lebanon', 'Lebanon', 'Beirut, Beirut, Lebanon', 'Zalqa, Mount Lebanon, Lebanon', 'Ghazir, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Saida Ville, South, Lebanon', 'Remhala, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Dbaiyeh, Mount Lebanon, Lebanon', 'Matn District, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Borj Hammoud, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Antelias, Mount Lebanon, Lebanon', 'Beirut Central District, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Haret Hreik, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Halate, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Taanayel, Beqaa, Lebanon', 'Saida, South, Lebanon', 'Sinn El Fil, Mount Lebanon, Lebanon', 'Chekka, North, Lebanon', 'Lebanon', 'Lebanon', 'Lebanon', 'Beirut, Beirut, Lebanon', 'Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Ghaziye, South, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Dbaiyeh, Mount Lebanon, Lebanon', 'Zahle, Beqaa, Lebanon', 'Beirut, Beirut, Lebanon', 'El Mkalless, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Dbaiyeh, Mount Lebanon, Lebanon', 'Zalqa, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Tripoli, North, Lebanon', 'Beirut, Lebanon', 'Zouk Mkayel, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Sinn El Fil, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'J≈´niyah, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Sinn El Fil, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'El Mkalless, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Erkay, South, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Jbeil District, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Sinn El Fil, Mount Lebanon, Lebanon', 'Sinn El Fil, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Adma Et Dafna, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Sinn El Fil, Mount Lebanon, Lebanon', 'Sinn El Fil, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Forn Ech Chebbak, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Lebanon', 'Tripoli, North, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', '≈û≈´r, South, Lebanon', 'Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Saida, South, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Forn Ech Chebbak, Mount Lebanon, Lebanon', 'Beirut, Lebanon', 'Zahle, Beqaa, Lebanon', 'Mansouriye, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Sinn El Fil, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Mount Lebanon, Mount Lebanon, Lebanon', 'Beyrouth, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Sinn El Fil, Mount Lebanon, Lebanon', 'Beyrouth, Beirut, Lebanon', 'Sinn El Fil, Mount Lebanon, Lebanon', 'Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Saida, South, Lebanon', 'Tripoli, North, Lebanon', 'Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Sinn El Fil, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Sinn El Fil, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Sidon, South, Lebanon', 'Mount Lebanon, Mount Lebanon, Lebanon', 'Beirut, Beirut, Lebanon', 'Sidon, South, Lebanon', 'Tripoli, North, Lebanon', 'Tyre, South, Lebanon', 'Tyre, South, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Tripoli, North, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Mount Lebanon, Mount Lebanon, Lebanon', 'Tyre, South, Lebanon', 'Tripoli, North, Lebanon', 'Tyre, South, Lebanon', 'Beirut, Beirut, Lebanon', 'Sidon, South, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Sidon, South, Lebanon', 'Tyre, South, Lebanon', 'Tripoli, North, Lebanon', 'Sidon, South, Lebanon', 'Beirut, Beirut, Lebanon', 'Sidon, South, Lebanon', 'Tripoli, North, Lebanon', 'Beirut, Beirut, Lebanon', 'Tyre, South, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Beirut, Beirut, Lebanon', 'Tripoli, North, Lebanon']

791

In [17]:
#Date
date = [] 
for job in jobs:
    date0 = job.find_element_by_css_selector('div>div>time').get_attribute('datetime')
    date.append(date0)
    
print(date)
print(len(date))

['2021-08-23', '2021-08-23', '2021-08-23', '2021-08-23', '2021-08-23', '2021-08-23', '2021-08-23', '2021-08-23', '2021-08-23', '2021-08-23', '2021-08-23', '2021-08-23', '2021-08-23', '2021-08-23', '2021-08-23', '2021-08-23', '2021-08-23', '2021-08-19', '2021-08-03', '2021-08-23', '2021-08-05', '2021-08-22', '2021-08-23', '2021-08-23', '2021-08-23', '2021-08-19', '2021-08-17', '2021-08-20', '2021-08-19', '2021-08-23', '2021-08-16', '2021-08-19', '2021-08-16', '2021-08-20', '2021-08-23', '2021-08-20', '2021-08-02', '2021-08-11', '2021-08-21', '2021-08-09', '2021-08-12', '2021-08-22', '2021-08-05', '2021-08-23', '2021-08-13', '2021-08-05', '2021-08-11', '2021-08-16', '2021-08-17', '2021-07-24', '2021-08-22', '2021-08-18', '2021-08-23', '2021-08-02', '2021-08-22', '2021-08-22', '2021-08-22', '2021-08-17', '2021-08-03', '2021-08-04', '2021-08-16', '2021-08-23', '2021-08-09', '2021-08-06', '2021-08-18', '2021-08-18', '2021-08-18', '2021-08-11', '2021-08-12', '2021-08-18', '2021-08-20', '2021-08-12', '2021-08-17', '2021-08-17', '2021-08-02', '2021-08-18', '2021-08-17', '2021-08-20', '2021-08-10', '2021-08-05', '2021-08-11', '2021-08-13', '2021-06-30', '2021-07-26', '2021-08-20', '2021-08-11', '2021-08-23', '2021-08-17', '2021-08-02', '2021-08-10', '2021-08-19', '2021-08-03', '2021-08-10', '2021-08-16', '2021-08-12', '2021-08-10', '2021-07-30', '2021-07-30', '2021-08-09', '2021-08-19', '2021-08-17', '2021-08-19', '2021-08-10', '2021-07-29', '2021-08-12', '2021-07-30', '2021-07-29', '2021-08-13', '2021-07-22', '2021-08-16', '2021-08-10', '2021-08-11', '2021-08-16', '2021-08-15', '2021-08-06', '2021-07-28', '2021-08-04', '2021-08-08', '2021-08-17', '2021-08-16', '2021-08-03', '2021-07-07', '2021-08-18', '2021-08-05', '2021-08-09', '2021-08-18', '2021-08-02', '2021-08-18', '2021-08-11', '2021-08-20', '2021-08-12', '2021-07-07', '2021-07-27', '2021-08-05', '2021-08-02', '2021-08-17', '2021-08-19', '2021-08-16', '2021-08-10', '2021-08-05', '2021-08-19', '2021-08-09', '2021-08-18', '2021-08-12', '2021-07-21', '2021-08-12', '2021-08-19', '2021-07-29', '2021-07-25', '2021-08-09', '2021-08-16', '2021-08-07', '2021-08-10', '2021-08-20', '2021-08-23', '2021-08-10', '2021-08-20', '2021-08-02', '2021-08-10', '2021-08-02', '2021-08-16', '2021-08-15', '2021-08-16', '2021-08-13', '2021-08-02', '2021-08-06', '2021-08-13', '2021-08-15', '2021-08-09', '2021-08-15', '2021-08-19', '2021-08-10', '2021-08-12', '2021-08-13', '2021-08-01', '2021-07-29', '2021-06-30', '2021-08-10', '2021-08-20', '2021-06-17', '2021-08-19', '2021-08-05', '2021-07-20', '2021-08-06', '2021-08-23', '2021-08-05', '2021-08-10', '2021-08-12', '2021-07-30', '2021-07-28', '2021-08-16', '2021-07-28', '2021-08-18', '2021-08-16', '2021-08-09', '2021-08-06', '2021-07-26', '2021-07-27', '2021-08-10', '2021-08-09', '2021-08-11', '2021-07-29', '2021-08-17', '2021-08-03', '2021-08-10', '2021-08-09', '2021-08-20', '2021-08-09', '2021-08-12', '2021-08-17', '2021-07-30', '2021-08-11', '2021-08-19', '2021-08-22', '2021-08-05', '2021-07-13', '2021-07-08', '2021-07-26', '2021-07-29', '2021-07-19', '2021-08-08', '2021-08-04', '2021-07-29', '2021-08-10', '2021-08-16', '2021-08-02', '2021-08-11', '2021-08-17', '2021-08-03', '2021-07-29', '2021-08-13', '2021-08-16', '2021-08-16', '2021-08-02', '2021-08-04', '2021-08-10', '2021-08-06', '2021-08-02', '2021-08-04', '2021-08-18', '2021-07-21', '2021-08-06', '2021-07-31', '2021-08-20', '2021-07-27', '2021-07-28', '2021-08-19', '2021-08-15', '2021-06-30', '2021-08-13', '2021-08-15', '2021-08-04', '2021-08-20', '2021-08-20', '2021-08-18', '2021-08-10', '2021-07-14', '2021-08-12', '2021-08-10', '2021-08-19', '2021-08-05', '2021-08-02', '2021-08-02', '2021-08-19', '2021-08-11', '2021-08-11', '2021-08-13', '2021-08-21', '2021-07-26', '2021-08-02', '2021-08-05', '2021-08-04', '2021-07-29', '2021-08-05', '2021-08-04', '2021-08-05', '2021-08-21', '2021-08-03', '2021-07-22', '2021-08-16', '2021-08-15', '2021-08-18', '2021-08-02', '2021-08-05', '2021-08-17', '2021-08-09', '2021-07-24', '2021-08-16', '2021-07-01', '2021-08-03', '2021-07-01', '2021-07-01', '2021-07-03', '2021-08-02', '2021-08-19', '2021-08-13', '2021-08-04', '2021-08-13', '2021-08-03', '2021-07-07', '2021-07-26', '2021-08-20', '2021-08-19', '2021-08-18', '2021-07-27', '2021-08-06', '2021-07-29', '2021-08-05', '2021-08-11', '2021-07-26', '2021-08-11', '2021-08-18', '2021-08-11', '2021-07-28', '2021-08-20', '2021-08-06', '2021-08-23', '2021-07-06', '2021-07-01', '2021-08-03', '2021-07-31', '2021-08-03', '2021-08-23', '2021-08-05', '2021-08-10', '2021-08-11', '2021-08-09', '2021-08-17', '2021-08-13', '2021-08-19', '2021-08-05', '2021-07-20', '2021-08-20', '2021-06-30', '2021-08-02', '2021-08-04', '2021-07-01', '2021-08-17', '2021-07-22', '2021-08-11', '2021-07-27', '2021-08-23', '2021-08-18', '2021-08-05', '2021-07-26', '2021-08-18', '2021-08-17', '2021-06-03', '2021-08-09', '2021-08-13', '2021-08-21', '2021-08-18', '2021-08-01', '2021-07-05', '2021-07-29', '2021-08-03', '2021-08-04', '2021-08-16', '2021-08-02', '2021-07-28', '2021-08-17', '2021-07-26', '2021-08-10', '2021-08-19', '2021-08-02', '2021-08-14', '2021-08-23', '2021-07-08', '2021-07-27', '2021-07-26', '2021-08-23', '2021-07-28', '2021-08-17', '2021-07-30', '2021-06-30', '2021-07-15', '2021-08-13', '2021-08-05', '2021-08-11', '2021-08-19', '2021-07-17', '2021-08-06', '2021-08-05', '2021-07-28', '2021-08-10', '2021-08-15', '2021-06-07', '2021-08-23', '2021-07-01', '2021-08-20', '2021-08-07', '2021-07-16', '2021-08-20', '2021-07-31', '2021-08-16', '2021-08-10', '2021-08-06', '2021-08-20', '2021-08-10', '2021-07-01', '2021-08-13', '2021-08-11', '2021-08-10', '2021-08-05', '2021-06-07', '2021-08-11', '2021-08-03', '2021-08-17', '2021-05-18', '2021-08-02', '2021-08-04', '2021-07-02', '2021-07-23', '2021-08-03', '2021-08-03', '2021-07-28', '2021-07-08', '2021-08-06', '2021-08-02', '2021-08-05', '2021-08-10', '2021-07-28', '2021-07-27', '2021-08-21', '2021-08-10', '2021-08-02', '2021-08-02', '2021-08-05', '2021-08-02', '2021-08-03', '2021-07-31', '2021-08-10', '2021-07-28', '2021-08-20', '2021-08-18', '2021-06-07', '2021-08-02', '2021-08-05', '2021-07-01', '2021-08-20', '2021-08-01', '2021-08-18', '2021-08-12', '2021-08-05', '2021-08-09', '2021-08-22', '2021-08-06', '2021-08-06', '2021-07-28', '2021-08-23', '2021-08-22', '2021-07-05', '2021-08-05', '2021-07-21', '2021-07-26', '2021-08-19', '2021-08-18', '2021-08-04', '2021-08-17', '2021-07-29', '2021-08-22', '2021-05-19', '2021-08-19', '2021-08-09', '2021-07-28', '2021-08-16', '2021-07-05', '2021-07-30', '2021-08-13', '2021-07-26', '2021-08-05', '2021-08-09', '2021-08-18', '2021-08-12', '2021-08-15', '2021-08-17', '2021-08-04', '2021-08-09', '2021-06-30', '2021-08-23', '2021-08-03', '2021-08-10', '2021-07-23', '2021-08-11', '2021-08-10', '2021-07-25', '2021-08-16', '2021-08-06', '2021-08-13', '2021-07-27', '2021-08-19', '2021-08-12', '2021-08-06', '2021-08-17', '2021-07-07', '2021-08-23', '2021-08-04', '2021-08-10', '2021-08-18', '2021-07-28', '2021-08-06', '2021-07-27', '2021-08-23', '2021-07-08', '2021-08-23', '2021-08-17', '2021-08-11', '2021-07-27', '2021-08-18', '2021-08-03', '2021-08-23', '2021-07-02', '2021-08-02', '2021-08-16', '2021-08-10', '2021-08-12', '2021-08-03', '2021-08-05', '2021-07-08', '2021-08-06', '2021-07-28', '2021-08-03', '2021-07-25', '2021-07-30', '2021-08-12', '2021-08-05', '2021-07-17', '2021-08-03', '2021-08-05', '2021-08-23', '2021-07-26', '2021-08-06', '2021-07-26', '2021-08-03', '2021-06-26', '2021-08-16', '2021-08-09', '2021-07-26', '2021-08-23', '2021-07-28', '2021-06-16', '2021-07-29', '2021-08-09', '2021-07-26', '2021-08-06', '2021-08-03', '2021-08-18', '2021-08-05', '2021-07-27', '2021-08-22', '2021-07-27', '2021-08-17', '2021-08-18', '2021-08-10', '2021-08-04', '2021-08-22', '2021-08-11', '2021-07-28', '2021-08-04', '2021-07-09', '2021-07-28', '2021-08-16', '2021-07-28', '2021-07-27', '2021-07-26', '2021-07-28', '2021-07-17', '2021-08-04', '2021-08-10', '2021-08-09', '2021-08-02', '2021-08-10', '2021-08-12', '2021-08-02', '2021-08-10', '2021-08-02', '2021-08-10', '2021-07-19', '2021-07-25', '2021-08-01', '2021-08-11', '2021-08-03', '2021-08-02', '2021-08-06', '2021-08-05', '2021-08-06', '2021-08-19', '2021-08-04', '2021-07-28', '2021-08-12', '2021-07-26', '2021-08-02', '2021-08-23', '2021-07-14', '2021-08-06', '2021-07-06', '2021-08-17', '2021-08-02', '2021-07-26', '2021-08-13', '2021-08-17', '2021-08-03', '2021-08-06', '2021-07-26', '2021-07-19', '2021-08-02', '2021-08-04', '2021-08-05', '2021-07-29', '2021-08-02', '2021-07-28', '2021-08-12', '2021-07-28', '2021-07-29', '2021-08-17', '2021-07-27', '2021-08-06', '2021-08-02', '2021-08-07', '2021-07-27', '2021-07-28', '2021-08-12', '2021-08-17', '2021-07-02', '2021-08-02', '2021-07-31', '2021-08-18', '2021-08-16', '2021-07-29', '2021-07-28', '2021-08-03', '2021-08-21', '2021-08-05', '2021-08-12', '2021-08-08', '2021-07-26', '2021-08-20', '2021-08-06', '2021-08-16', '2021-07-29', '2021-08-05', '2021-08-05', '2021-07-26', '2021-08-22', '2021-08-23', '2021-07-29', '2021-08-13', '2021-06-29', '2021-08-18', '2021-07-28', '2021-08-23', '2021-08-10', '2021-08-07', '2021-08-12', '2021-08-03', '2021-08-11', '2021-08-03', '2021-07-18', '2021-08-23', '2021-08-23', '2021-08-11', '2021-08-16', '2021-07-17', '2021-08-12', '2021-08-18', '2021-08-13', '2021-07-29', '2021-07-26', '2021-08-12', '2021-08-18', '2021-06-02', '2021-07-29', '2021-08-06', '2021-08-09', '2021-07-28', '2021-08-16', '2021-08-06', '2021-07-30', '2021-07-26', '2021-08-18', '2021-07-27', '2021-07-26', '2021-07-30', '2021-07-17', '2021-07-17', '2021-07-30', '2021-08-23', '2021-08-20', '2021-08-18', '2021-08-23', '2021-07-27', '2021-07-17', '2021-08-23', '2021-07-28', '2021-08-18', '2021-08-10', '2021-07-29', '2021-07-22', '2021-08-20', '2021-08-13', '2021-08-03', '2021-08-03', '2021-08-13', '2021-08-20', '2021-08-13', '2021-08-13', '2021-08-13', '2021-07-25', '2021-08-13', '2021-07-28', '2021-08-10', '2021-08-06', '2021-07-30', '2021-08-11', '2021-07-17', '2021-07-01', '2021-08-11', '2021-08-19', '2021-08-06', '2021-08-23', '2021-08-16', '2021-07-28', '2021-08-23', '2021-08-05', '2021-08-04', '2021-08-03', '2021-07-03', '2021-08-13', '2021-07-03', '2021-08-01', '2021-08-20', '2021-08-22', '2021-08-18', '2021-07-04', '2021-08-20', '2021-08-03', '2021-07-11', '2021-08-06', '2021-08-23', '2021-08-23', '2021-08-17', '2021-08-07', '2021-07-17', '2021-07-04', '2021-07-04', '2021-08-03', '2021-08-11', '2021-07-04', '2021-07-28', '2021-08-23', '2021-07-25', '2021-08-19', '2021-07-01', '2021-08-23', '2021-08-18', '2021-08-19', '2021-08-18', '2021-08-19', '2021-08-06', '2021-07-27', '2021-08-02', '2021-08-23', '2021-08-23', '2021-07-01', '2021-08-18', '2021-08-19', '2021-08-02', '2021-08-23', '2021-08-02', '2021-08-18', '2021-08-23', '2021-08-18', '2021-08-05', '2021-08-18', '2021-08-17', '2021-08-09', '2021-08-18', '2021-08-18', '2021-08-18', '2021-08-18', '2021-08-13', '2021-08-02', '2021-08-02', '2021-08-13', '2021-08-02', '2021-08-09', '2021-08-05', '2021-08-22', '2021-08-18', '2021-08-04', '2021-08-18']
791

In [21]:
jobs_in_lebanon_23_08_2021 = pd.DataFrame({
'Job Title': job_title,
'Company': comp_name,
'Location': location_name,
'Date': date,
})

In [23]:
jobs_in_lebanon_23_08_2021.head(20)

,Job Title,Company,Location,Date
0,Managing Director,Shabab Lab,"Beirut, Lebanon",2021-08-23
1,Customer Service Agent,NokNok,"Beirut, Lebanon",2021-08-23
2,Production Supervisor,PawPots,"Beirut, Lebanon",2021-08-23
3,Warehouse Controller,NokNok,"Beirut, Lebanon",2021-08-23
4,Dashboard Supervisor,CAFU,"Beirut, Lebanon",2021-08-23
5,Africa Based - Commercial Manager,EDITEC,"Beirut, Beirut, Lebanon",2021-08-23
6,Sales Executive,Confidential,"Beirut, Lebanon",2021-08-23
7,English-Arabic Translator,TheSoul Publishing,"Beirut, Lebanon",2021-08-23
8,Sales Associate,Toumajean Couture,"Beirut, Lebanon",2021-08-23
9,Call Center Representative,Cedarcom - Mobi,"Beirut, Beirut, Lebanon",2021-08-23
10,Arabic Writer - Content on Arab Youtubers,Studio Al Fankoosh,"Beirut, Beirut, Lebanon",2021-08-23
11,Content Strategist,Confidential,"Sinn El Fil, Mount Lebanon, Lebanon",2021-08-23
12,Marketing Executive,EMC- Elie Melhem Clinics,"Sinn El Fil, Mount Lebanon, Lebanon",2021-08-23
13,Information Technology Support Specialist,Broadnet Technologies,"Beirut, Lebanon",2021-08-23
14,Community Manager,Gabriel Bocti s.a.l,"Beirut, Beirut, Lebanon",2021-08-23
15,Marketing Manager,Funding Souq | ŸÅŸÜÿØŸäŸÜŸÇ ÿ≥ŸàŸÇ,"Beirut, Lebanon",2021-08-23
16,Social Media Executive,Anghami,"Beirut, Lebanon",2021-08-23
17,Operations Executive - E-commerce,EMPG,"Beirut, Beirut, Lebanon",2021-08-19
18,Director General,St.John technical institute,"Zgharta, North, Lebanon",2021-08-03
19,Medical Sales Representative,Catafago & Co.,"Beirut, Lebanon",2021-08-23

# Create a new column that groups similar job positions together

For example, this column will assign "graphic designer" to "uixi graphic designer", "graphic designer adobe"...

In [209]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import plotly.offline as py

In [203]:
df.head()

,Job Title,Company,Location,Date,Month,Count,Category
0,Net Full Stack Engineer,Microtech Solutions S.A.L.,"Beirut, Beirut, Lebanon",8/3/21,8,1,Engineer
1,Human Resources Coordinators Bekaa Bml North S...,Nrc Europe - Norwegian Refugee Council,"Beirut, Beirut, Lebanon",8/20/21,8,1,Human Resource Specialist
2,Experienced Angular Software Engineer,Rubix - Partner For Digital Business,Lebanon,8/20/21,8,1,Engineer
3,Experienced Angular Software Engineer,Rubix - Partner For Digital Business,"Beirut, Lebanon",8/19/21,8,1,Engineer
4,Senior Android Developer FullTime,Toptal,"Tyre, South, Lebanon",8/18/21,8,1,Developer

In [204]:
temp= df_new['Job Title'].astype(str)
df_new['Category'] = pd.np.where(temp.str.contains("Graphic Designer"), "Designer", 
                 pd.np.where(temp.str.contains("Financ"), "Finance Specialist",
                 pd.np.where(temp.str.contains("Art"), "Art", 
                 pd.np.where(temp.str.contains("Market"), "Marketer", 
                 pd.np.where(temp.str.contains("Teacher"), "Teacher",
                 pd.np.where(temp.str.contains("Sales"), "Sales Person",
                 pd.np.where(temp.str.contains("Social Media"), "Social Media",
                 pd.np.where(temp.str.contains("Develop"), "Developer",
                 pd.np.where(temp.str.contains("Account"), "Accountant",
                 pd.np.where(temp.str.contains("Therap"), "Therapist",
                 pd.np.where(temp.str.contains("Analy"), "Analyst",            
                 pd.np.where(temp.str.contains("Manage"), "Manager",            
                 pd.np.where(temp.str.contains("Officer"), "Officer",            
                 pd.np.where(temp.str.contains("Associate"), "Associate",            
                 pd.np.where(temp.str.contains("Waiter"), "Waiter",
                 pd.np.where(temp.str.contains("Chef"), "Chef",            
                 pd.np.where(temp.str.contains("Ai"), "Analyst",            
                 pd.np.where(temp.str.contains("AI"), "Analyst",            
                 pd.np.where(temp.str.contains("Videographer"), "Cinema",            
                 pd.np.where(temp.str.contains("Agent"), "Assistant",            
                 pd.np.where(temp.str.contains("Consultant"), "Consultant", 
                 pd.np.where(temp.str.contains("Technician"), "Technician",
                 pd.np.where(temp.str.contains("Assistant"), "Assistant",            
                 pd.np.where(temp.str.contains("Operator"), "Operator",            
                 pd.np.where(temp.str.contains("Copywriter"), "Copywriter",            
                 pd.np.where(temp.str.contains("Pharm"), "Pharmacist",            
                 pd.np.where(temp.str.contains("Design"), "Designer",            
                 pd.np.where(temp.str.contains("Buying"), "Sales Person",
                 pd.np.where(temp.str.contains("Research"), "Researcher",             
                 pd.np.where(temp.str.contains("Service"), "Services",             
                 pd.np.where(temp.str.contains("Data"), "Analyst",             
                 pd.np.where(temp.str.contains("Dermatologist"), "Medical Doctor",
                 pd.np.where(temp.str.contains("Trade"), "Finance Specialist",            
                 pd.np.where(temp.str.contains("Education"), "Teacher",            
                 pd.np.where(temp.str.contains("Technology"), "Technology Specialist",            
                 pd.np.where(temp.str.contains("Dermatologist"), "Medical Doctor",            
                 pd.np.where(temp.str.contains("Php"), "Pharmacist",            
                 pd.np.where(temp.str.contains("Promotion"), "Sales Person",            
                 pd.np.where(temp.str.contains("Tutor"), "Teacher",            
                 pd.np.where(temp.str.contains("Executive"), "Associate",            
                 pd.np.where(temp.str.contains("Associate"), "Associate",            
                 pd.np.where(temp.str.contains("Instructor"), "Teacher",            
                 pd.np.where(temp.str.contains("Website Content Writer"), "Website Content Writer",             
                 pd.np.where(temp.str.contains("Art"), "Artist",            
                 pd.np.where(temp.str.contains("Hotel"), "Hospitality",            
                 pd.np.where(temp.str.contains("Human Resource"), "Human Resource Specialist",            
                 pd.np.where(temp.str.contains("it "), "Technology Specialist",\
                 pd.np.where(temp.str.contains("Econ"), "Economist",            
                 pd.np.where(temp.str.contains("Team Lead"), "Manager",            
                 pd.np.where(temp.str.contains("Retail"), "Sales Person",             
                 pd.np.where(temp.str.contains("Auditor"), "Accountant",             
                 pd.np.where(temp.str.contains("Coordinator"), "Coordinator",             
                 pd.np.where(temp.str.contains("Director"), "Cinema",             
                 pd.np.where(temp.str.contains("Auditor"), "Accountant",             
                 pd.np.where(temp.str.contains("Advisor"), "Advisor",             
                 pd.np.where(temp.str.contains("Supervisor"), "advisor",
                 pd.np.where(temp.str.contains("Animator"), "Animator",            
                 pd.np.where(temp.str.contains("Business"), "Business Specialist",            
                 pd.np.where(temp.str.contains("Call center"), "Call center Representative",            
                 pd.np.where(temp.str.contains("Lawyer"), "Lawyer",            
                 pd.np.where(temp.str.contains("oficer"), "Officer",            
                 pd.np.where(temp.str.contains("Photographer"), "Photographer",            
                 pd.np.where(temp.str.contains("Accoun"), "Accountant",            
                 pd.np.where(temp.str.contains("Asistant"), "Assistant", 
                 pd.np.where(temp.str.contains("Administrator"), "Administrator",            
                 pd.np.where(temp.str.contains("Advertis"), "Advertising Specialist",            
                 pd.np.where(temp.str.contains("Editor"), "Writer",            
                 pd.np.where(temp.str.contains("Writer"), "Writer",            
                 pd.np.where(temp.str.contains("Computer Science"), "Technology Specialist",            
                 pd.np.where(temp.str.contains("Asociate"), "Associate",            
                 pd.np.where(temp.str.contains("Scien"), "Scientist",            
                 pd.np.where(temp.str.contains("Biolo"), "Scientist",            
                 pd.np.where(temp.str.contains("Busines"), "Business Specialist",            
                 pd.np.where(temp.str.contains("Cameraman"), "Photographer",           
                 pd.np.where(temp.str.contains("Cashier"), "Cashier",            
                 pd.np.where(temp.str.contains("Clinical"), "Clinical Specialist",            
                 pd.np.where(temp.str.contains("Communic"), "Communication Specialist",                       
                 pd.np.where(temp.str.contains("Engine"), "Engineer", "Other"))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))

<ipython-input-204-74d6605992c5>:2: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:3: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:4: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:5: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:6: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:7: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:8: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:9: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:10: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:11: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:12: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:13: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:14: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:15: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:16: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:17: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:18: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:19: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:20: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:21: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:22: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:23: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:24: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:25: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:26: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:27: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:28: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:29: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:30: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:31: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:32: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:33: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:34: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:35: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:36: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:37: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:38: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:39: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:40: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:41: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:42: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:43: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:44: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:45: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:46: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:47: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:48: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:49: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:50: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:51: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:52: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:53: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:54: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:55: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:56: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:57: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:58: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:59: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:60: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:61: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:62: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:63: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:64: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:65: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:66: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:67: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:68: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:69: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:70: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:71: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:72: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:73: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:74: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:75: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:76: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:77: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:78: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-204-74d6605992c5>:79: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

In [207]:
df_new['Category'].value_counts()

Other                        162
Manager                      128
Developer                    119
Sales Person                  75
Designer                      73
Engineer                      70
Analyst                       59
Marketer                      57
Associate                     40
Finance Specialist            35
Assistant                     25
Consultant                    23
Teacher                       21
Social Media                  16
Officer                       13
Chef                          13
Writer                        12
Services                      12
Accountant                    11
Art                           11
advisor                        9
Copywriter                     9
Technician                     9
Technology Specialist          8
Advisor                        7
Cinema                         7
Human Resource Specialist      7
Business Specialist            6
Therapist                      5
Animator                       5
Pharmacist                     5
Communication Specialist       4
Researcher                     4
Coordinator                    4
Waiter                         3
Administrator                  3
Scientist                      2
Operator                       2
Medical Doctor                 2
Cashier                        2
Photographer                   2
Hospitality                    1
Website Content Writer         1
Economist                      1
Advertising Specialist         1
Lawyer                         1
Name: Category, dtype: int64

In [208]:
a1 = df.Category.value_counts()

x1 = list(a1.index)
y1 = list(a1)

data1 = [go.Bar(
   x = x1,
   y = y1
)]
fig = go.Figure(data=data1)
iplot(fig)

In [187]:
#from dataframe to a csv file
df_new.to_csv("df.csv", sep='\t')

In [188]:
#download the csv file to a folder on the desktop
df.to_csv(r'/Users/user/Desktop/capstone_csv/df.csv')

In [24]:
#from dataframe to a csv file
jobs_in_lebanon_23_08_2021.to_csv("jobs_in_lebanon_23_08_2021.csv", sep='\t')

In [25]:
#download the csv file to a folder on the desktop
jobs_in_lebanon_23_08_2021.to_csv(r'/Users/user/Desktop/capstone_csv/jobs_in_lebanon_23_08_2021.csv')

# To run all codes in 2 runs:

In [ ]:
from selenium import webdriver
import time
import pandas as pd

#provide the url that you need to scrape
url='https://www.linkedin.com/jobs/search?keywords=&location=Lebanon&geoId=101834488&trk=public_jobs_jobs-search-bar_search-submit&position=1&pageNum=0'

browser= webdriver.Chrome(executable_path='/Users/user/Desktop/capstone/chromedriver')
browser.get(url)After running the above codes, you are going to be directed to a LinkedIn page (the url that u provided above). On that page, scroll down and keep on clicking on "more jobs" to reach the last job position. In order to scrape all the jobs that are on the page. Then run the below codes.

After running the above codes, you are going to be directed to a LinkedIn page (the url that u provided above). On that page, scroll down and keep on clicking on "more jobs" to reach the last job position. In order to scrape all the jobs that are on the page. Then run the below codes.

In [ ]:
#Title
job_title = []
for job in jobs:
    job_title0 = job.find_element_by_css_selector('h3').get_attribute('innerText')
    job_title.append(job_title0)

#Company Name
comp=browser.find_elements_by_class_name("hidden-nested-link")
comp_name=[]
for i in comp:
    comp_name.append(i.text)
    
#Location
location=browser.find_elements_by_class_name("job-search-card__location")
location_name=[]
for i in location:
    location_name.append(i.text)
    
#Date
date = [] 
for job in jobs:
    date0 = job.find_element_by_css_selector('div>div>time').get_attribute('datetime')
    date.append(date0)
    
jobs_in_lebanon_ = pd.DataFrame({
'Job Title': job_title,
'Company': comp_name,
'Location': location_name,
'Date': date,

})

#from dataframe to a csv file
jobs_in_lebanon_.to_csv("jobs_in_lebanon_.csv", sep='\t')

#download the csv file to a folder on the desktop
jobs_in_lebanon_21_08_2021.to_csv(r'/Users/user/Desktop/capstone_csv/jobs_in_lebanon_21_08_2021.csv')

# Cleaning and Preprocessing Data

In [118]:
import pandas as pd
import re # regular expression module
import string

In [119]:
df_new=pd.read_csv('/Users/user/Desktop/capstone/jobs_in_lebanon_24_08_2021.csv', encoding= 'unicode_escape')

In [216]:
df_new.drop('Unnamed: 6', inplace=True, axis=1)
df_new.drop('Unnamed: 7', inplace=True, axis=1)
df_new.drop('Unnamed: 8', inplace=True, axis=1)
df_new.drop('Unnamed: 9', inplace=True, axis=1)
df_new.drop('Unnamed: 10', inplace=True, axis=1)
df_new.drop('Unnamed: 11', inplace=True, axis=1)
df_new.drop('Unnamed: 12', inplace=True, axis=1)
df_new.drop('Unnamed: 13', inplace=True, axis=1)
df_new.head()

,Job Title,Company,Location,Date,Month,Count,Category
0,Physics Teacher,Jobs | Careers | Recruitment | Hiring Alerts W...,"South, Lebanon",8/13/21,8,1,Teacher
1,3D Animator,Gboard,"Mount Lebanon, Lebanon",8/20/21,8,1,Animator
2,Copywriter,Sabis√Ç¬Æ,"Mount Lebanon, Lebanon",8/16/21,8,1,Copywriter
3,Assistant,"Gab Liquidations Buy, Sell, Rent Real Estate &...","Mount Lebanon, Lebanon",8/1/21,8,1,Assistant
4,Teacher,International School Of Innovation,"South, Lebanon",8/22/21,8,1,Teacher

In [217]:
df_new.tail()

,Job Title,Company,Location,Date,Month,Count,Category
1151,Digital Marketing Specialist,Debbane Saikali Group,"Mount Lebanon, Lebanon",8/11/21,8,1,Marketer
1152,Food Services Sales Representative,Meptico Sal,"Mount Lebanon, Lebanon",8/17/21,8,1,Sales Person
1153,Pharmacist,Pharmacie Ste Th√É¬©R√É¬®Se Zouk Mikael,"Mount Lebanon, Lebanon",8/17/21,8,1,Pharmacist
1155,Senior Interior Designer,Sahaco,"Mount Lebanon, Lebanon",8/3/21,8,1,Designer
1156,Senior Web Developer,Webboxed,"Mount Lebanon, Lebanon",8/5/21,8,1,Developer

# Check How many job positions

In [75]:
print("There are", len(df), "scrapped job positions")

There are 1157 scrapped job positions

In [76]:
# regex = re.sub(r'Beirut', 'Beirut, Lebanon', df['Location'])

In [77]:
#How many different jobs there are
df['Job Title'].value_counts()

Graphic Designer                     25
Sales Executive                       9
Sales Consultant                      9
Digital Marketing Specialist          8
Pharmacist                            5
                                     ..
Senior Executive Programatic          1
Industrial Maintenance Specialist     1
Real Estate Sales Agent               1
Cal Center Manager                    1
Biztalk Senior Developer              1
Name: Job Title, Length: 969, dtype: int64

# Remove punctuations from "Job Title" column

In [78]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [79]:
def remove_punctuation(text):
    for punc in string.punctuation:
        text = text.replace(punc, "")
    return text

#the function apply takes row by row of the column message. so it's like a loop for every row in the dataset.
#.apply is the ft that gows row by row and the action that i want here is (cleaning_stopwords)

df_new['Job Title'] = df_new['Job Title'].apply(lambda x : remove_punctuation(x))
#dataset['Message'][0]
df_new['Job Title'].tail()

1152             Web Developer
1153    Web Developer Wordpres
1154      Web Graphic Designer
1155    Website Content Writer
1156    Wpe Case Worker  Akkar
Name: Job Title, dtype: object

In [80]:
df_new.tail()

,Job Title,Company,Location,Date,Month,Count,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
1152,Web Developer,Artech,"Tripoli, North, Lebanon",8/10/21,8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1153,Web Developer Wordpres,Cbeir,"Beirut, Lebanon",7/16/21,7,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1154,Web Graphic Designer,Medica Group,"Beirut, Lebanon",7/14/21,7,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1155,Website Content Writer,Podeo | √ô¬®√ô¬à√ò¬ø√ò¬ä√ò¬à,"Beirut, Beirut, Lebanon",8/4/21,8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1156,Wpe Case Worker Akkar,International Rescue Committee,"Marhat Aakkar, Akkar, Lebanon",8/16/21,8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
# or we can use regex to remove punctuations
df_new['Job Title']= df_new['Job Title'].str.replace(r'[^0-9a-zA-Z]+', ' ')
df_new['Job Title'].tail()# Removing Repeating Characters

1152             Web Developer
1153    Web Developer Wordpres
1154      Web Graphic Designer
1155    Website Content Writer
1156     Wpe Case Worker Akkar
Name: Job Title, dtype: object

# Removing digits from "Job Title" column

In [82]:
# Removing Digits
def cleaning_numbers(text):
    return re.sub('[0-9]+', '', text)

df_new['Job Title'] = df_new['Job Title'].apply(lambda msg: cleaning_numbers(msg))
df_new['Job Title'].tail()

1152             Web Developer
1153    Web Developer Wordpres
1154      Web Graphic Designer
1155    Website Content Writer
1156     Wpe Case Worker Akkar
Name: Job Title, dtype: object

In [83]:
df_new.tail()

,Job Title,Company,Location,Date,Month,Count,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
1152,Web Developer,Artech,"Tripoli, North, Lebanon",8/10/21,8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1153,Web Developer Wordpres,Cbeir,"Beirut, Lebanon",7/16/21,7,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1154,Web Graphic Designer,Medica Group,"Beirut, Lebanon",7/14/21,7,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1155,Website Content Writer,Podeo | √ô¬®√ô¬à√ò¬ø√ò¬ä√ò¬à,"Beirut, Beirut, Lebanon",8/4/21,8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1156,Wpe Case Worker Akkar,International Rescue Committee,"Marhat Aakkar, Akkar, Lebanon",8/16/21,8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Removing URLS from "Job Title" column

In [84]:
# Remove URLS

def cleaning_URLs(text):
    return re.sub('((www.[^s]+)|(https?://[^s]+))',' ', text)


df_new['Job Title'] = df_new['Job Title'].apply(lambda msg: cleaning_URLs(msg))
df_new['Job Title'].head()

0                              Net Full Stack Engineer
1    Human Resources Coordinators Bekaa Bml North S...
2                Experienced Angular Software Engineer
3                Experienced Angular Software Engineer
4                    Senior Android Developer FullTime
Name: Job Title, dtype: object

# Removing Arabic words from "Job Title" column

In [85]:
# Removing arabic digits
def cleaning_numbers(text):
    return re.sub('[ÿ°-Ÿä]', '', text)

df_new['Job Title'] = df_new['Job Title'].apply(lambda msg: cleaning_numbers(msg))
df_new['Job Title'].tail()

1152             Web Developer
1153    Web Developer Wordpres
1154      Web Graphic Designer
1155    Website Content Writer
1156     Wpe Case Worker Akkar
Name: Job Title, dtype: object

# Removing Arabic words from "Company" column

In [86]:
# Removing arabic digits
def cleaning_numbers(text):
    return re.sub('[ÿ°-Ÿä]', '', text)

df_new['Company'] = df_new['Company'].apply(lambda msg: cleaning_numbers(msg))
df_new['Company'].tail()

1152                            Artech
1153                             Cbeir
1154                      Medica Group
1155                Podeo | √ô¬®√ô¬à√ò¬ø√ò¬ä√ò¬à
1156    International Rescue Committee
Name: Company, dtype: object

In [87]:
df_new['Company']

0                   Microtech Solutions S.A.L.
1       Nrc Europe - Norwegian Refugee Council
2         Rubix - Partner For Digital Business
3         Rubix - Partner For Digital Business
4                                       Toptal
                         ...
1152                                    Artech
1153                                     Cbeir
1154                              Medica Group
1155                        Podeo | √ô¬®√ô¬à√ò¬ø√ò¬ä√ò¬à
1156            International Rescue Committee
Name: Company, Length: 1157, dtype: object

In [88]:
# stop_words = stopwords.words('english')

# # in the below code if the word isnt in stop words then we want it. 
# def cleaning_stopwords(text):
#     return " ".join([word for word in str(text).split() if word not in stop_words])


# #the function apply takes row by row of the column message. so it's like a loop for every row in the dataset.
# #.apply is the ft that gows row by row and the action that i want here is (cleaning_stopwords)

# df_new['Job Title'] = df_new['Job Title'].apply(lambda message : cleaning_stopwords(message))
# #dataset['Message'][0]
# df_new['Company'].tail()

# Removing punctautions from "Company" column

In [89]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [90]:
def remove_punctuation(text):
    for punc in string.punctuation:
        text = text.replace(punc, "")
    return text

#the function apply takes row by row of the column message. so it's like a loop for every row in the dataset.
#.apply is the ft that gows row by row and the action that i want here is (cleaning_stopwords)

df_new['Company'] = df_new['Company'].apply(lambda x : remove_punctuation(x))

In [91]:
df_new.tail()

,Job Title,Company,Location,Date,Month,Count,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
1152,Web Developer,Artech,"Tripoli, North, Lebanon",8/10/21,8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1153,Web Developer Wordpres,Cbeir,"Beirut, Lebanon",7/16/21,7,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1154,Web Graphic Designer,Medica Group,"Beirut, Lebanon",7/14/21,7,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1155,Website Content Writer,Podeo √ô¬®√ô¬à√ò¬ø√ò¬ä√ò¬à,"Beirut, Beirut, Lebanon",8/4/21,8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1156,Wpe Case Worker Akkar,International Rescue Committee,"Marhat Aakkar, Akkar, Lebanon",8/16/21,8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
# or we can use regex to remove punctuations
df_new['Company'] = df_new['Company'].str.replace(r'[^0-9a-zA-Z]+', ' ')
df_new['Company'].tail()# Removing Repeating Characters

1152                            Artech
1153                             Cbeir
1154                      Medica Group
1155                            Podeo
1156    International Rescue Committee
Name: Company, dtype: object

# Removing Digits from "Company" column

In [93]:
# Removing Digits
def cleaning_numbers(text):
    return re.sub('[0-9]+', '', text)

df_new['Company'] = df_new['Company'].apply(lambda msg: cleaning_numbers(msg))
df_new['Company'].tail()

1152                            Artech
1153                             Cbeir
1154                      Medica Group
1155                            Podeo
1156    International Rescue Committee
Name: Company, dtype: object

In [94]:
df_new.tail()

,Job Title,Company,Location,Date,Month,Count,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
1152,Web Developer,Artech,"Tripoli, North, Lebanon",8/10/21,8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1153,Web Developer Wordpres,Cbeir,"Beirut, Lebanon",7/16/21,7,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1154,Web Graphic Designer,Medica Group,"Beirut, Lebanon",7/14/21,7,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1155,Website Content Writer,Podeo,"Beirut, Beirut, Lebanon",8/4/21,8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1156,Wpe Case Worker Akkar,International Rescue Committee,"Marhat Aakkar, Akkar, Lebanon",8/16/21,8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Removing URLs from "Company" column

In [95]:
# Remove URLS

def cleaning_URLs(text):
    return re.sub('((www.[^s]+)|(https?://[^s]+))',' ', text)


df_new['Company'] = df_new['Company'].apply(lambda msg: cleaning_URLs(msg))
df_new['Company'].tail()

1152                            Artech
1153                             Cbeir
1154                      Medica Group
1155                            Podeo
1156    International Rescue Committee
Name: Company, dtype: object

In [96]:
df_new.head()

,Job Title,Company,Location,Date,Month,Count,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,Net Full Stack Engineer,Microtech Solutions SAL,"Beirut, Beirut, Lebanon",8/3/21,8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Human Resources Coordinators Bekaa Bml North S...,Nrc Europe Norwegian Refugee Council,"Beirut, Beirut, Lebanon",8/20/21,8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Experienced Angular Software Engineer,Rubix Partner For Digital Business,Lebanon,8/20/21,8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Experienced Angular Software Engineer,Rubix Partner For Digital Business,"Beirut, Lebanon",8/19/21,8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Senior Android Developer FullTime,Toptal,"Tyre, South, Lebanon",8/18/21,8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Location Column

In [122]:
#check all the different locations
df_new['Location'].unique()

array(['√Ö\x9e√Ö¬´r, South, Lebanon',
       'Adma Et Dafna, Mount Lebanon, Lebanon',
       'Adon√Ñ¬´s, Mount Lebanon, Lebanon', 'Ain Baal, South, Lebanon',
       'Ain El Rommane, Mount Lebanon, Lebanon',
       'Ain Saade, Mount Lebanon, Lebanon',
       'Antelias, Mount Lebanon, Lebanon',
       'Aramoune, Mount Lebanon, Lebanon',
       'Baabda, Mount Lebanon, Lebanon',
       'Baaqline, Mount Lebanon, Lebanon',
       'Bchamoun, Mount Lebanon, Lebanon',
       'Beirut Central District, Beirut, Lebanon',
       'Beirut, Beirut, Lebanon', 'Beirut, Lebanon', 'Beqaa, Lebanon',
       'Beyrouth, Beirut, Lebanon',
       'Borj Hammoud, Mount Lebanon, Lebanon',
       'Bqaatouta, Mount Lebanon, Lebanon',
       'Broummana, Mount Lebanon, Lebanon',
       'Dbaiyeh, Mount Lebanon, Lebanon',
       'Ed Dekouane, Mount Lebanon, Lebanon',
       'El Mkalless, Mount Lebanon, Lebanon', 'Erkay, South, Lebanon',
       'Falougha, Mount Lebanon, Lebanon',
       'Forn Ech Chebbak, Mount Lebanon, Lebanon',
       'Ghazir, Mount Lebanon, Lebanon', 'Ghaziye, South, Lebanon',
       'Halate, Mount Lebanon, Lebanon', 'Hazmiye, North, Lebanon',
       'J√Ö¬´niyah, Mount Lebanon, Lebanon',
       'Jall Ed Dib, Mount Lebanon, Lebanon',
       'Jbeil District, Mount Lebanon, Lebanon',
       'Jdaide, Mount Lebanon, Lebanon', 'Jeita, Mount Lebanon, Lebanon',
       'Jubayl, Mount Lebanon, Lebanon',
       'Keserwan District, Mount Lebanon, Lebanon',
       'Kesrwan, Mount Lebanon, Lebanon', 'Lebanon',
       'Majdel Koura, North, Lebanon',
       'Mansouriye, Mount Lebanon, Lebanon',
       'Mar Roukouz Et Dahr El Hssaine, Mount Lebanon, Lebanon',
       'Marhat Aakkar, Akkar, Lebanon',
       'Matn District, Mount Lebanon, Lebanon', 'Mount Lebanon, Lebanon',
       'Mount Lebanon, Mount Lebanon, Lebanon', 'North, Lebanon',
       'Ouata Amaret Chalhoub, Mount Lebanon, Lebanon',
       'Raifoun, Mount Lebanon, Lebanon',
       'Remhala, Mount Lebanon, Lebanon',
       'Saida Dekerman, South, Lebanon', 'Saida Ville, South, Lebanon',
       'Saida, South, Lebanon', 'Sarba, Mount Lebanon, Lebanon',
       'Sidon, South, Lebanon', 'Sinn El Fil, Mount Lebanon, Lebanon',
       'South, Lebanon', 'Taanayel, Beqaa, Lebanon',
       'Tikrit, Akkar, Lebanon', 'Tripoli, North, Lebanon',
       'Tyre District, South, Lebanon', 'Tyre, South, Lebanon',
       'Zahle, Beqaa, Lebanon', 'Zalqa, Mount Lebanon, Lebanon',
       'Zgharta, North, Lebanon', 'Zouk Mkayel, Mount Lebanon, Lebanon'],
      dtype=object)

In the ‚Äúlocation‚Äù column, I had to group locations that are the same but written differently together. For example, some jobs were written that they are located in ‚ÄúBeirut, Lebanon‚Äù and other jobs were written that they are located in ‚ÄúBeyrouthe, Lebanon‚Äù. Since these two locations are the same, I had to group them. Therefore, using NLP and regex I found all locations that are in Beirut and changed their location name to ‚ÄúBeirut, Lebanon‚Äù. I did the same for Mount Lebanon, North Lebanon, Beqaa, South Lebanon‚Ä¶

In [123]:
#BEIRUT
#transform any other beirut forms to "Beirut, Lebanon"

def cleaning_location(text):
    return re.sub(r'.+\bBeirut, Lebanon\b','Beirut, Lebanon', text)


df_new['Location'] = df_new['Location'].apply(lambda msg: cleaning_location(msg))
df_new['Location'].tail()

1152    Zouk Mkayel, Mount Lebanon, Lebanon
1153    Zouk Mkayel, Mount Lebanon, Lebanon
1154    Zouk Mkayel, Mount Lebanon, Lebanon
1155    Zouk Mkayel, Mount Lebanon, Lebanon
1156    Zouk Mkayel, Mount Lebanon, Lebanon
Name: Location, dtype: object

In [124]:
df_new['Location'].unique()

array(['√Ö\x9e√Ö¬´r, South, Lebanon',
       'Adma Et Dafna, Mount Lebanon, Lebanon',
       'Adon√Ñ¬´s, Mount Lebanon, Lebanon', 'Ain Baal, South, Lebanon',
       'Ain El Rommane, Mount Lebanon, Lebanon',
       'Ain Saade, Mount Lebanon, Lebanon',
       'Antelias, Mount Lebanon, Lebanon',
       'Aramoune, Mount Lebanon, Lebanon',
       'Baabda, Mount Lebanon, Lebanon',
       'Baaqline, Mount Lebanon, Lebanon',
       'Bchamoun, Mount Lebanon, Lebanon', 'Beirut, Lebanon',
       'Beqaa, Lebanon', 'Borj Hammoud, Mount Lebanon, Lebanon',
       'Bqaatouta, Mount Lebanon, Lebanon',
       'Broummana, Mount Lebanon, Lebanon',
       'Dbaiyeh, Mount Lebanon, Lebanon',
       'Ed Dekouane, Mount Lebanon, Lebanon',
       'El Mkalless, Mount Lebanon, Lebanon', 'Erkay, South, Lebanon',
       'Falougha, Mount Lebanon, Lebanon',
       'Forn Ech Chebbak, Mount Lebanon, Lebanon',
       'Ghazir, Mount Lebanon, Lebanon', 'Ghaziye, South, Lebanon',
       'Halate, Mount Lebanon, Lebanon', 'Hazmiye, North, Lebanon',
       'J√Ö¬´niyah, Mount Lebanon, Lebanon',
       'Jall Ed Dib, Mount Lebanon, Lebanon',
       'Jbeil District, Mount Lebanon, Lebanon',
       'Jdaide, Mount Lebanon, Lebanon', 'Jeita, Mount Lebanon, Lebanon',
       'Jubayl, Mount Lebanon, Lebanon',
       'Keserwan District, Mount Lebanon, Lebanon',
       'Kesrwan, Mount Lebanon, Lebanon', 'Lebanon',
       'Majdel Koura, North, Lebanon',
       'Mansouriye, Mount Lebanon, Lebanon',
       'Mar Roukouz Et Dahr El Hssaine, Mount Lebanon, Lebanon',
       'Marhat Aakkar, Akkar, Lebanon',
       'Matn District, Mount Lebanon, Lebanon', 'Mount Lebanon, Lebanon',
       'Mount Lebanon, Mount Lebanon, Lebanon', 'North, Lebanon',
       'Ouata Amaret Chalhoub, Mount Lebanon, Lebanon',
       'Raifoun, Mount Lebanon, Lebanon',
       'Remhala, Mount Lebanon, Lebanon',
       'Saida Dekerman, South, Lebanon', 'Saida Ville, South, Lebanon',
       'Saida, South, Lebanon', 'Sarba, Mount Lebanon, Lebanon',
       'Sidon, South, Lebanon', 'Sinn El Fil, Mount Lebanon, Lebanon',
       'South, Lebanon', 'Taanayel, Beqaa, Lebanon',
       'Tikrit, Akkar, Lebanon', 'Tripoli, North, Lebanon',
       'Tyre District, South, Lebanon', 'Tyre, South, Lebanon',
       'Zahle, Beqaa, Lebanon', 'Zalqa, Mount Lebanon, Lebanon',
       'Zgharta, North, Lebanon', 'Zouk Mkayel, Mount Lebanon, Lebanon'],
      dtype=object)

As we can see above, all the Beirut locations that were names differently are now named as "Beirut, Lebanon"

In [125]:
#Mount Lebanon
#transform any other Mount Lebanon forms to "Mount Lebanon, Lebanon"
def cleaning_location(text):
    return re.sub(r'.+\bMount Lebanon, Lebanon\b','Mount Lebanon, Lebanon', text)


df_new['Location'] = df_new['Location'].apply(lambda msg: cleaning_location(msg))
df_new['Location'].tail()

1152    Mount Lebanon, Lebanon
1153    Mount Lebanon, Lebanon
1154    Mount Lebanon, Lebanon
1155    Mount Lebanon, Lebanon
1156    Mount Lebanon, Lebanon
Name: Location, dtype: object

In [126]:
#South Lebanon
def cleaning_location(text):
    return re.sub(r'.+\bSouth, Lebanon\b','South, Lebanon', text)
df_new['Location'] = df_new['Location'].apply(lambda msg: cleaning_location(msg))
df_new['Location'].tail()

1152    Mount Lebanon, Lebanon
1153    Mount Lebanon, Lebanon
1154    Mount Lebanon, Lebanon
1155    Mount Lebanon, Lebanon
1156    Mount Lebanon, Lebanon
Name: Location, dtype: object

In [127]:
#North Lebanon
def cleaning_location(text):
    return re.sub(r'.+\bNorth, Lebanon\b','North, Lebanon', text)
df_new['Location'] = df_new['Location'].apply(lambda msg: cleaning_location(msg))
df_new['Location'].tail()

1152    Mount Lebanon, Lebanon
1153    Mount Lebanon, Lebanon
1154    Mount Lebanon, Lebanon
1155    Mount Lebanon, Lebanon
1156    Mount Lebanon, Lebanon
Name: Location, dtype: object

In [130]:
#Beqaa Lebanon
def cleaning_location(text):
    return re.sub(r'.+\bBeqaa, Lebanon\b','Beqaa, Lebanon', text)
df_new['Location'] = df_new['Location'].apply(lambda msg: cleaning_location(msg))
df_new['Location'].tail()

1152    Mount Lebanon, Lebanon
1153    Mount Lebanon, Lebanon
1154    Mount Lebanon, Lebanon
1155    Mount Lebanon, Lebanon
1156    Mount Lebanon, Lebanon
Name: Location, dtype: object

In [131]:
#Nabatiye Lebanon
def cleaning_location(text):
    return re.sub(r'.+\bNabatiye, Lebanon\b','Nabatiye, Lebanon', text)
df_new['Location'] = df_new['Location'].apply(lambda msg: cleaning_location(msg))
df_new['Location'].tail()

1152    Mount Lebanon, Lebanon
1153    Mount Lebanon, Lebanon
1154    Mount Lebanon, Lebanon
1155    Mount Lebanon, Lebanon
1156    Mount Lebanon, Lebanon
Name: Location, dtype: object

In [132]:
#Akkar Lebanon
def cleaning_location(text):
    return re.sub(r'.+\bAkkar, Lebanon\b','Akkar, Lebanon', text)
df_new['Location'] = df_new['Location'].apply(lambda msg: cleaning_location(msg))
df_new['Location'].tail()

1152    Mount Lebanon, Lebanon
1153    Mount Lebanon, Lebanon
1154    Mount Lebanon, Lebanon
1155    Mount Lebanon, Lebanon
1156    Mount Lebanon, Lebanon
Name: Location, dtype: object

In [133]:
df_new['Location'].unique()

array(['South, Lebanon', 'Mount Lebanon, Lebanon', 'Beirut, Lebanon',
       'Beqaa, Lebanon', 'North, Lebanon', 'Lebanon', 'Akkar, Lebanon'],
      dtype=object)

In [134]:
#There's location only 'Lebanon' without the city name. We have drop it for better analysis later on
df_new.drop(df_new.index[df_new['Location'] == 'Lebanon'], inplace = True)
df_new['Location'].unique()

array(['South, Lebanon', 'Mount Lebanon, Lebanon', 'Beirut, Lebanon',
       'Beqaa, Lebanon', 'North, Lebanon', 'Akkar, Lebanon'], dtype=object)

# Create a new column that groups similar job positions together

For example, this column will assign "graphic designer" to "uixi graphic designer", "graphic designer adobe"...

In [233]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import plotly.offline as py

In [234]:
temp= df_new['Job Title'].astype(str)
df_new['Category'] = pd.np.where(temp.str.contains("Graphic Designer"), "Designer", 
                 pd.np.where(temp.str.contains("Financ"), "Finance Specialist",
                 pd.np.where(temp.str.contains("Art"), "Art", 
                 pd.np.where(temp.str.contains("Market"), "Marketer", 
                 pd.np.where(temp.str.contains("Teacher"), "Teacher",
                 pd.np.where(temp.str.contains("Sales"), "Sales Person",
                 pd.np.where(temp.str.contains("Social Media"), "Social Media",
                 pd.np.where(temp.str.contains("Develop"), "Software Developer",
                 pd.np.where(temp.str.contains("Account"), "Accountant",
                 pd.np.where(temp.str.contains("Therap"), "Therapist",
                 pd.np.where(temp.str.contains("Analy"), "Analyst",            
                 pd.np.where(temp.str.contains("Manage"), "Manager",            
                 pd.np.where(temp.str.contains("Officer"), "Officer",            
                 pd.np.where(temp.str.contains("Associate"), "Associate",            
                 pd.np.where(temp.str.contains("Waiter"), "Waiter",
                 pd.np.where(temp.str.contains("Chef"), "Chef",            
                 pd.np.where(temp.str.contains("Ai"), "Analyst",            
                 pd.np.where(temp.str.contains("AI"), "Analyst",            
                 pd.np.where(temp.str.contains("Videographer"), "Cinema",            
                 pd.np.where(temp.str.contains("Agent"), "Assistant",            
                 pd.np.where(temp.str.contains("Consultant"), "Consultant", 
                 pd.np.where(temp.str.contains("Technician"), "Technician",
                 pd.np.where(temp.str.contains("Assistant"), "Assistant",            
                 pd.np.where(temp.str.contains("Operator"), "Operator",            
                 pd.np.where(temp.str.contains("Copywriter"), "Copywriter",            
                 pd.np.where(temp.str.contains("Pharm"), "Pharmacist",            
                 pd.np.where(temp.str.contains("Design"), "Designer",            
                 pd.np.where(temp.str.contains("Buying"), "Sales Person",
                 pd.np.where(temp.str.contains("Research"), "Researcher",             
                 pd.np.where(temp.str.contains("Service"), "Services",             
                 pd.np.where(temp.str.contains("Data"), "Analyst",             
                 pd.np.where(temp.str.contains("Dermatologist"), "Medical Doctor",
                 pd.np.where(temp.str.contains("Trade"), "Finance Specialist",            
                 pd.np.where(temp.str.contains("Education"), "Teacher",            
                 pd.np.where(temp.str.contains("Technology"), "Technology Specialist",            
                 pd.np.where(temp.str.contains("Dermatologist"), "Medical Doctor",            
                 pd.np.where(temp.str.contains("Php"), "Pharmacist",            
                 pd.np.where(temp.str.contains("Promotion"), "Sales Person",            
                 pd.np.where(temp.str.contains("Tutor"), "Teacher",            
                 pd.np.where(temp.str.contains("Executive"), "Associate",            
                 pd.np.where(temp.str.contains("Associate"), "Associate",            
                 pd.np.where(temp.str.contains("Instructor"), "Teacher",            
                 pd.np.where(temp.str.contains("Website Content Writer"), "Website Content Writer",             
                 pd.np.where(temp.str.contains("Art"), "Artist",            
                 pd.np.where(temp.str.contains("Hotel"), "Hospitality",            
                 pd.np.where(temp.str.contains("Human Resource"), "Human Resource Specialist",            
                 pd.np.where(temp.str.contains("it "), "Technology Specialist",\
                 pd.np.where(temp.str.contains("Econ"), "Economist",            
                 pd.np.where(temp.str.contains("Team Lead"), "Manager",            
                 pd.np.where(temp.str.contains("Retail"), "Sales Person",             
                 pd.np.where(temp.str.contains("Auditor"), "Accountant",             
                 pd.np.where(temp.str.contains("Coordinator"), "Coordinator",             
                 pd.np.where(temp.str.contains("Director"), "Cinema",             
                 pd.np.where(temp.str.contains("Auditor"), "Accountant",             
                 pd.np.where(temp.str.contains("Advisor"), "Advisor",             
                 pd.np.where(temp.str.contains("Supervisor"), "advisor",
                 pd.np.where(temp.str.contains("Animator"), "Animator",            
                 pd.np.where(temp.str.contains("Business"), "Business Specialist",            
                 pd.np.where(temp.str.contains("Call center"), "Call center Representative",            
                 pd.np.where(temp.str.contains("Lawyer"), "Lawyer",            
                 pd.np.where(temp.str.contains("oficer"), "Officer",            
                 pd.np.where(temp.str.contains("Photographer"), "Photographer",            
                 pd.np.where(temp.str.contains("Accoun"), "Accountant",            
                 pd.np.where(temp.str.contains("Asistant"), "Assistant", 
                 pd.np.where(temp.str.contains("Administrator"), "Administrator",            
                 pd.np.where(temp.str.contains("Advertis"), "Advertising Specialist",            
                 pd.np.where(temp.str.contains("Editor"), "Writer",            
                 pd.np.where(temp.str.contains("Writer"), "Writer",            
                 pd.np.where(temp.str.contains("Computer Science"), "Technology Specialist",            
                 pd.np.where(temp.str.contains("Asociate"), "Associate",            
                 pd.np.where(temp.str.contains("Scien"), "Scientist",            
                 pd.np.where(temp.str.contains("Biolo"), "Scientist",            
                 pd.np.where(temp.str.contains("Busines"), "Business Specialist",            
                 pd.np.where(temp.str.contains("Cameraman"), "Photographer",           
                 pd.np.where(temp.str.contains("Cashier"), "Cashier",            
                 pd.np.where(temp.str.contains("Clinical"), "Clinical Specialist",            
                 pd.np.where(temp.str.contains("Communic"), "Communication Specialist",                       
                 pd.np.where(temp.str.contains("Engine"), "Engineer", "Other"))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))

<ipython-input-234-e65dcd635695>:2: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:3: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:4: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:5: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:6: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:7: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:8: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:9: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:10: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:11: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:12: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:13: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:14: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:15: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:16: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:17: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:18: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:19: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:20: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:21: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:22: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:23: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:24: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:25: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:26: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:27: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:28: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:29: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:30: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:31: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:32: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:33: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:34: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:35: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:36: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:37: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:38: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:39: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:40: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:41: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:42: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:43: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:44: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:45: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:46: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:47: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:48: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:49: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:50: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:51: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:52: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:53: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:54: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:55: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:56: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:57: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:58: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:59: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:60: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:61: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:62: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:63: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:64: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:65: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:66: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:67: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:68: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:69: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:70: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:71: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:72: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:73: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:74: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:75: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:76: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:77: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:78: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

<ipython-input-234-e65dcd635695>:79: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

In [235]:
#Drop "Others"
df_newest = df_new[df_new.Category != 'Other']

In [236]:
df_newest['Category'].value_counts()

Manager                      128
Software Developer           119
Sales Person                  75
Designer                      73
Engineer                      70
Analyst                       59
Marketer                      57
Associate                     40
Finance Specialist            35
Assistant                     25
Consultant                    23
Teacher                       21
Social Media                  16
Officer                       13
Chef                          13
Writer                        12
Services                      12
Accountant                    11
Art                           11
Copywriter                     9
advisor                        9
Technician                     9
Technology Specialist          8
Advisor                        7
Human Resource Specialist      7
Cinema                         7
Business Specialist            6
Therapist                      5
Animator                       5
Pharmacist                     5
Communication Specialist       4
Researcher                     4
Coordinator                    4
Waiter                         3
Administrator                  3
Scientist                      2
Operator                       2
Medical Doctor                 2
Cashier                        2
Photographer                   2
Website Content Writer         1
Hospitality                    1
Economist                      1
Advertising Specialist         1
Lawyer                         1
Name: Category, dtype: int64

In [237]:
a1 = df_newest.Category.value_counts()

x1 = list(a1.index)
y1 = list(a1)

data1 = [go.Bar(
   x = x1,
   y = y1
)]
fig = go.Figure(data=data1)
iplot(fig)

In [240]:
#change the name of the df_new to another name
preprocessed_linkedin_jobs_25_08_21 = df_newest

In [241]:
#from dataframe to a csv file
preprocessed_linkedin_jobs_25_08_21.to_csv("preprocessed_linkedin_jobs_25_08_21.csv", sep='\t')

In [242]:
#download the csv file to a folder on the desktop
preprocessed_linkedin_jobs_25_08_21.to_csv(r'/Users/user/Desktop/capstone_csv/preprocessed_linkedin_jobs_25_08_21.csv')